@using Dental_Clinic_System.Helper
@using System.Globalization

@{
	ViewData["Title"] = "Phiếu khám";
	var specialtySchedulePatientRecord = ViewBag.specialtySchedulePatientRecord as Dental_Clinic_System.Models.Data.Appointment;
}

<head>
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/bill.css" />
</head>


<main class="medical__bill__container">
	<div class="medical__bill corner">
		<!-- HEADER -->
		<div class="medicall__bill__header">
			<h1 class="title text-center">PHIẾU KHÁM BỆNH</h1>
			<p class="clinic__name text-center">
				@ViewBag.clinic?.Name
			</p>
			<p class="clinic__address text-center">
				@ViewBag.clinic?.Address @(LocalAPIReverseString.GetProvinceNameById((int)ViewBag.clinic.Province).Result)
			</p>
			<h2 class="sub__title text-center">Mã phiếu</h2>
			<div class="barcode">
				<img src="https://barcodeapi.org/api/code128/@ViewBag.transaction?.MedicalReportID" alt="Alternate Text" style="width: 100%" />
			</div>
			<div class="status text-center">Đặt khám thành công</div>
		</div>

		<!-- TIME -->
		<div class="medicall__bill__time corner">
			<div class="content">
				<div class="sub__title text-center">Giờ khám dự kiến</div>
				<div class="time text-center">@specialtySchedulePatientRecord?.Schedule?.TimeSlot?.StartTime.ToString("HH:mm")</div>
			</div>
			<ul>
				<li>
					<span>Mã phiếu:</span> <span><b>@ViewBag.transaction?.MedicalReportID</b></span>
				</li>
				<li>
					<span>Chuyên khoa:</span><span><b>@specialtySchedulePatientRecord?.Specialty?.Name</b></span>
				</li>
				<li>
					<span>Ngày khám:</span><span class="date__time"><b>@specialtySchedulePatientRecord?.Schedule?.Date.ToString("dd/MM/yyyy")</b></span>
				</li>
				<li>
					<span>Giờ khám dự kiến:</span><span class="date__time"><b>@specialtySchedulePatientRecord?.Schedule?.TimeSlot?.StartTime.ToString("HH:mm")</b></span>
				</li>
				<li>
					<span>Phí khám:</span><span><b>@string.Format(new CultureInfo("vi-VN"), "{0:#,##0.} đ", @specialtySchedulePatientRecord?.TotalPrice) </b></span>
				</li>
			</ul>
		</div>

		<!-- PATIENT INFO -->
		<div class="medicall__bill__patient__info corner">
			<ul>
				<li>
					<span>Bệnh nhân:</span><span><b>@specialtySchedulePatientRecord?.PatientRecords?.FullName</b></span>
				</li>
				<li>
					<span>Ngày sinh:</span><span><b>@specialtySchedulePatientRecord?.PatientRecords?.DateOfBirth.ToString("dd/MM/yyyy")</b></span>
				</li>
			</ul>
		</div>

		<!-- COPYRIGHT -->
		<div class="medicall__bill__copyright corner">
			<div class="note">
				<p class="attention">Lưu ý:</p>
				<div class="notification">
					Quý bệnh nhân vui lòng đến quầy tiếp nhận tại sảnh để được tiếp
					đón.
					<br />
					Quý bệnh nhân cần hỗ trợ, vui lòng liên hệ tổng đài
					<strong>CSKH 1900 2115</strong>
				</div>
			</div>
			<div class="copyright text-center">
				<div class="copyright__wrapper">
					Bản quyền thuộc về
					<img style="width: 50%"
						 src="~/assets/images/DentalCare.png"
						 alt="DentalCare Logo" />
				</div>
			</div>
			<div class="intro text-center">
				Đặt lịch khám tại Phòng khám hàng đầu Việt Nam
			</div>
		</div>
	</div>

	<a asp-controller="home" asp-action="index" class="home__page__navigate">Trở về trang chủ</a>
	<a asp-controller="account" asp-action="profile" class="medical__hítory__navigate">Lịch sử đặt khám</a>
</main>
