@model IEnumerable<Dental_Clinic_System.Areas.Admin.ViewModels.ManagerClinicVM>

@{
	ViewData["Title"] = "ListClinic";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
	.title-Name-Clinic {
		font-size: 2.8rem;
		font-weight: 700;
		color: #202224;
	}

	.title-Address {
		font-size: 2.2rem;
		font-weight: 700;
	}

	.img, svg {
		vertical-align: middle;
		height: 45%;
	}

	.modal-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: calc(100vh - 1rem);
	}

	.modal-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	.modal-content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 90%;
		max-width: 1000px;
		max-height: 90vh;
		margin: auto;
		color: #000;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #dee2e6;
		border-radius: 0.5rem;
		outline: 0;
		padding: 20px;
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		overflow-y: auto;
		font-size: 1.1rem;
		line-height: 1.6;
	}


	.modal-header, .modal-footer {
		border: none;
		padding: 1.5rem;
	}


	.modal-body {
		padding: 2rem;
	}

	.btn-close {
		position: absolute;
		top: 10px;
		right: 10px;
		background: transparent;
		border: none;
		font-size: 1.5rem;
	}
</style>


<!-- TÌM KIẾM (SEARCH)-->
<!-- Clinic management header -->
<div class="clinic__management__header">
	<h1 class="title">Quản lý phòng khám</h1>
	<div class="action-btn">
		<form action="~/Admin/ManagerClinic/SearchClinic" method="get">
			<div class="search__bar">
				<input type="search" placeholder="Tìm kiếm ..." name="search" />
			</div>
		</form>
		<button type="button"
				data-bs-toggle="modal" data-bs-target="#myModal"
				class="add__new" id="newBtn">
			+ New
		</button>
	</div>
</div>


<!--SHOW LIST-->
<!-- CLINIC LIST MANAGEMENT -->
<div id="myItem" class="clinic__management__wrapper row">
	@foreach (var clinic in Model)
	{
		<div class="clinic-wrap-item col-md-6">
			<div class="clinic-wrap-item__style row">
				<div class="img-content col-md-6">
					<img src="@clinic.Image" alt="Clinic" />
				</div>
				<div class="info-content col-md-6">
					<h2 class="title-Name-Clinic">@clinic.ClinicName</h2>
					<div class="name">Quản lý: <span class="title-Address">@clinic.ManagerName</span></div>
					<div class="address">Địa chỉ: <span class="title-Address">@clinic.Address</span></div>
					<div class="action">
						<a href="tel:0123456789"><i class="fa-solid fa-phone-volume"></i></a>
						<a href="mailto:example@gmail.com"><i class="fa-solid fa-envelope"></i></a>

						<!--EDIT-->
						<a href="~/Admin/ManagerClinic/EditClinic/@clinic.Id" class="view">
							<i class="fa-solid fa-eye"></i>
						</a>

						<!--DELETE-->
						<form action="~/Admin/ManagerClinic/HiddenClinic" method="post">
							<input type="hidden" name="name" value="@clinic.ClinicName" />
							<input type="hidden" name="status" value="Đóng cửa" />
							<button class="delete">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
</div>

<!-- ========== PAGINATION  ========== -->
<ul class="pagination" id="pagination">
</ul>

<script>
	//Đợi cho document được tải hoàn chỉnh
	document.addEventListener("DOMContentLoaded", function () {
		// Lấy button "+ New"
		var newBtn = document.getElementById("newBtn");

		// Nếu button tồn tại
		if (newBtn) {
			// Thêm click
			newBtn.addEventListener("click", function () {
				// Chuyển hướng đến URL của view khác
				window.location.href = "/Admin/ManagerClinic/CreateClinic";
			});
		}
	});
</script>
