@model IEnumerable<Dental_Clinic_System.Areas.Admin.ViewModels.ManagerClinicVM>

@{
	ViewData["Title"] = "Danh sách phòng khám đã đóng cửa";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- TÌM KIẾM (SEARCH)-->
<!-- Clinic management header -->
<div class="clinic__management__header">
	<h1 class="title">Phòng khám đã đóng cửa</h1>
	<div class="action-btn">
		<form action="~/Admin/ManagerClinic/ListClinicClosed" method="get">
			<div class="search__bar">
				<input type="search" placeholder="Tìm kiếm ..." name="search" />
			</div>
		</form>
	</div>
</div>

<!--VIEW-->
<div class="modal fade" id="clinicDetailsModal" tabindex="-1" role="dialog" aria-labelledby="clinicDetailsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="clinicDetailsModalLabel">Chi tiết phòng khám</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="image-column">
						<img id="clinicImage" class="img-fluid" alt="Clinic Image">

					</div>
					<div class="form-column">
						<form>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="clinicName">Tên phòng khám</label>
									<input type="text" class="form-control1" id="clinicName" readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="clinicManagerName">Quản lý</label>
									<input type="text" class="form-control1" id="clinicManagerName" readonly>
								</div>
							</div>
							<div class="form-row">
								
								<div class="form-group col-md-6">
									<label for="clinicEmail">Email</label>
									<input type="text" class="form-control1" id="clinicEmail" readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="clinicPhoneNumber">Số điện thoại</label>
									<input type="text" class="form-control1" id="clinicPhoneNumber" readonly>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="clinicAddress">Địa chỉ</label>
									<input type="text" class="form-control1" id="clinicAddress" readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="clinicBasis">Cơ sở</label>
									<input type="text" class="form-control1" id="clinicBasis" readonly>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="clinicProvince">Tỉnh/Thành phố</label>
									<input type="text" class="form-control1" id="clinicProvince" readonly>
								</div>
								<div class="form-group col-md-4">
									<label for="clinicDistrict">Quận/Huyện</label>
									<input type="text" class="form-control1" id="clinicDistrict" readonly>
								</div>
								<div class="form-group col-md-4">
									<label for="clinicWard">Phường/Xã</label>
									<input type="text" class="form-control1" id="clinicWard" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="clinicDescription">Mô tả</label>
								<textarea class="form-control1" id="clinicDescription" rows="3" readonly></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="close-btn btn" data-bs-dismiss="modal">
					Đóng
				</button>
			</div>
		</div>
	</div>
</div>


<!--SHOW LIST-->
<!-- CLINIC LIST MANAGEMENT -->
<div id="myItem" class="clinic__management__wrapper row">
	@foreach (var clinic in Model)
	{
		<div class="clinic-wrap-item col-md-6">
			<div class="clinic-wrap-item__style row">
				<div class="img-content col-md-6">
					<img src="@clinic.Image" alt="Clinic" />
				</div>
				<div class="info-content col-md-6">
					<h2 class="title-Name-Clinic">@clinic.ClinicName</h2>
					<div class="name">Quản lý: <span class="title-Address">@clinic.ManagerName</span></div>
					<div class="address"> Địa chỉ: <span class="tittle-Address">@clinic.ProvinceName</span> </div>
					<div class="action">
						<a href="tel:0123456789"><i class="fa-solid fa-phone-volume"></i></a>
						<a href="mailto:example@gmail.com"><i class="fa-solid fa-envelope"></i></a>

						<!--VIEW BUTTON-->
						<button type="button" class="btn btn-view btn-icon" onclick="viewClinicClosed(@clinic.Id)">
							<i class="fa-solid fa-eye"></i>
						</button>

						<!--UNLOCK-->
						<form action="~/Admin/ManagerClinic/UnlockClinic" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn mở lại phòng khám này không?');">
							<input type="hidden" name="name" value="@clinic.ClinicName" />
							<input type="hidden" name="status" value="Hoạt Động" />
							<button class="unlock">
								<i class="fa-solid fa-unlock" style="color:white"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
</div>

<!-- ========== PAGINATION  ========== -->
<ul class="pagination" id="pagination">
</ul>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@* Chỉnh sửa UI *@
<link rel="stylesheet" href="~/assets/css/clinicClosed.css" />

@section Scripts {
	<!--Hiển thị các Tỉnh/Thành phố, Quận/Huyện, Phường/Xã-->
	@* <script src="https://esgoo.net/scripts/jquery.js"></script>
	<script>
		$(document).ready(function () {
			function loadNames() {
				$(".title-Province").each(function () {
					var provinceId = $(this).data("id");
					var element = $(this);
					$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data) {
						if (data.error == 0) {
							$.each(data.data, function (key, val) {
								if (val.id == provinceId) {
									element.text(val.full_name);
									return false;
								}
							});
						}
					});
				});

				$(".title-District").each(function () {
					var districtId = $(this).data("id");
					var element = $(this);
					$.getJSON('https://esgoo.net/api-tinhthanh/2/' + districtId + '.htm', function (data) {
						if (data.error == 0) {
							$.each(data.data, function (key, val) {
								if (val.id == districtId) {
									element.text(val.full_name);
									return false;
								}
							});
						}
					});
				});

				$(".title-Ward").each(function () {
					var wardId = $(this).data("id");
					var element = $(this);
					$.getJSON('https://esgoo.net/api-tinhthanh/3/' + wardId + '.htm', function (data) {
						if (data.error == 0) {
							$.each(data.data, function (key, val) {
								if (val.id == wardId) {
									element.text(val.full_name);
									return false;
								}
							});
						}
					});
				});
			}

			loadNames();
		});
	</script> *@

	<script>
		function viewClinicClosed(clinicId) {
			// Sử dụng AJAX để lấy thông tin chi tiết về phòng khám
			$.ajax({
				url: '@Url.Action("ViewClinic", "ManagerClinic", new { Area = "Admin" })',
				type: 'GET',
				data: { id: clinicId },
				success: function (data) {
					// Điền vào các fields với dữ liệu
					$('#clinicName').val(data.name);
					$('#clinicPhoneNumber').val(data.phoneNumber);
					$('#clinicEmail').val(data.email);
					$('#clinicManagerName').val(data.managerName);
					$('#clinicProvince').val(data.provinceName);
					$('#clinicDistrict').val(data.districtName);
					$('#clinicWard').val(data.wardName);
					$('#clinicBasis').val(data.basis);
					$('#clinicAddress').val(data.address);
					$('#clinicDescription').val(data.description);
					$('#clinicImage').attr('src', data.image);
					$('#clinicStatus').val(data.clinicStatus);

					// Hiển thị modal
					$('#clinicDetailsModal').modal('show');
				}
			});
		}
	</script>

}

