@model IEnumerable<Dental_Clinic_System.Areas.Admin.ViewModels.ManagerClinicVM>

@{
	ViewData["Title"] = "ListClinic";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
	.title-Name-Clinic {
		font-size: 2.8rem;
		font-weight: 700;
		color: #202224;
	}

	.title-Address {
		font-size: 2.2rem;
		font-weight: 700;
	}

	.img, svg {
		vertical-align: middle;
		height: 45%;
	}

	.modal-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: calc(100vh - 1rem);
	}

	.modal-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	.modal-content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 90%;
		max-width: 1000px;
		max-height: 90vh;
		margin: auto;
		color: #000;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #dee2e6;
		border-radius: 0.5rem;
		outline: 0;
		padding: 20px;
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		overflow-y: auto;
		font-size: 1.1rem;
		line-height: 1.6;
	}


	.modal-header, .modal-footer {
		border: none;
		padding: 1.5rem;
	}


	.modal-body {
		padding: 2rem;
	}

	.btn-close {
		position: absolute;
		top: 10px;
		right: 10px;
		background: transparent;
		border: none;
		font-size: 1.5rem;
	}
</style>


<!-- TÌM KIẾM (SEARCH)-->
<!-- Clinic management header -->
<div class="clinic__management__header">
	<h1 class="title">Quản lý phòng khám</h1>
	<div class="action-btn">
		<form action="~/Admin/ManagerClinic/SearchClinic" method="get">
			<div class="search__bar">
				<input type="search" placeholder="Tìm kiếm ..." name="search" />
			</div>
		</form>
		<button type="button"
				data-bs-toggle="modal" data-bs-target="#myModal"
				class="add__new" id="newBtn">
			+ New
		</button>
	</div>
</div>


<!--SHOW THÔNG TIN CHI TIẾT PHÒNG KHÁM-->
<!-- Modal -->
<div class="modal fade" id="clinicModal" tabindex="-1" aria-labelledby="clinicModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="clinicModalLabel">Thông tin chi tiết phòng khám</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				
				<div class="row">
					<div class="col-md-6">
						<img id="clinicImage" src="" alt="Clinic Image" class="img">
					</div>
					<div class="col-md-6">
						<h2 id="clinicName"></h2>
						<p id="clinicDescription"></p>
						<p><strong>Tên phòng khám</strong> <span id="clinicName"></span></p>
						<p><strong>Cơ sở:</strong> <span id="basis"></span></p>
						<p><strong>Quản lý:</strong> <span id="managerName"></span></p>
						<p><strong>Hotline:</strong> <span id="phone"></span></p>
						<p><strong>Email:</strong> <span id="email"></span></p>
						<p><strong>Địa chỉ:</strong> <span id="address"></span></p>
						<p><strong>Tỉnh/Thành phố:</strong> <span id="province"></span></p>
						<p><strong>Quận/ Huyện:</strong> <span id="district"></span></p>
						<p><strong>Phường/Xã:</strong> <span id="ward"></span></p>
						<p><strong>Mô tả phòng khám:</strong> <span id="description"></span></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				@* <button type="button" class="btn btn-primary">Chỉnh sửa</button> *@
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>


<!--SHOW LIST-->
<!-- CLINIC LIST MANAGEMENT -->
<div id="myItem" class="clinic__management__wrapper row">
	@foreach (var clinic in Model)
	{
		<div class="clinic-wrap-item col-md-6">
			<div class="clinic-wrap-item__style row">
				<div class="img-content col-md-6">
					<img src="https://eastrosedental.com/Content/Home/images/content/banner-left.jpg" alt="clinic" />
				</div>
				<div class="info-content col-md-6">
					<h2 class="title-Name-Clinic">@clinic.ClinicName</h2>
					<div class="name">Quản lý: <span class="title-Address">@clinic.ManagerName</span></div>
					<div class="address">Địa chỉ: <span class="title-Address">@clinic.Address</span></div>
					<div class="action">
						<a href="tel:0123456789"><i class="fa-solid fa-phone-volume"></i></a>
						<a href="mailto:example@gmail.com"><i class="fa-solid fa-envelope"></i></a>

						<!--VIEW AND EDIT-->
						<a href="#!" class="view" data-bs-toggle="modal" data-bs-target="#clinicModal"
						   data-clinic-name="@clinic.ClinicName"
						   data-clinic-address="@clinic.Address"
						   data-clinic-manager="@clinic.ManagerName"
						   data-clinic-phone="@clinic.PhoneNumber"
						   data-clinic-email="@clinic.Email"
						   data-clinic-province="@clinic.Province"
						   data-clinic-district="@clinic.District"
						   data-clinic-ward="@clinic.Ward"
						   data-clinic-basis="@clinic.Basis"
						   data-clinic-description="@clinic.Description"
						   data-clinic-image="@clinic.Image">
							<i class="fa-solid fa-eye"></i>
						</a>

						<!--DELETE-->
						<form action="~/Admin/ManagerClinic/HiddenClinic" method="post">
							<input type="hidden" name="name" value="@clinic.ClinicName" />
							<input type="hidden" name="status" value="Đóng cửa" />
							<button class="delete">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
</div>

<!-- ========== PAGINATION  ========== -->
<ul class="pagination" id="pagination">

</ul>


<script>
	//Đợi cho document được tải hoàn chỉnh
	document.addEventListener("DOMContentLoaded", function () {
		// Lấy button "+ New"
		var newBtn = document.getElementById("newBtn");

		// Nếu button tồn tại
		if (newBtn) {
			// Thêm click
			newBtn.addEventListener("click", function () {
				// Chuyển hướng đến URL của view khác
				window.location.href = "/Admin/ManagerClinic/CreateClinic";
			});
		}
	});
</script>


<script src="~/assets/js/view-information-clinic.js"></script>