@model IEnumerable<Dental_Clinic_System.Models.Data.Appointment>
@using Dental_Clinic_System.Helper
@using System.Globalization
@{
    ViewData["Title"] = "Quản Lý Đặt Khám";
    string statusColorClass = "status";
}     
<head>
    <link rel="stylesheet" href="~/assets/css/sidebar.css" />
    <link rel="stylesheet" href="~/assets/css/headerAd.css" />
    <link rel="stylesheet" href="~/assets/css/dentistpatients.css" />
    <link rel="stylesheet" href="~/assets/css/specialtydash.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

    <div class="patients__management" style="padding: 40px">
        <h1 style="text-align:center;"><strong>Quản Lý Đơn Khám Bệnh Nhân</strong></h1>
        <div class="text-center"><img style="vertical-align: middle;" src="/assets/images/separate-01.png" alt="Sepherate image"></div>
        <table class="table table-striped mt-5" style="font-size: 2rem;">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Bệnh nhân</th>
                    <th>Chuyên Khoa</th>
                    <th>Ngày hẹn</th>
                    <th>Giờ hẹn</th>
                    <th>Trạng thái</th>
                    <th>Ngày tạo</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="myTableBody">
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td>@appointment.ID</td>
                        <td>@appointment.PatientRecords.FullName</td>
                        <td>@appointment.Specialty.Name</td>
                        <td>@appointment.Schedule.Date.ToString("dd/MM/yyyy")</td>
                        <td>@appointment.Schedule.TimeSlot.StartTime - @appointment.Schedule.TimeSlot.EndTime</td>
                        @switch (@appointment.AppointmentStatus)
                        {
                            @case "Đã Chấp Nhận": statusColorClass = "status approved"; break;
                            @case "Chờ Xác Nhận": statusColorClass = "status pending"; break;
                            @case "Đã Khám": statusColorClass = "status complete"; break;
                            @case "Đã Hủy": statusColorClass = "status deny"; break;
                        }
                        <td><p class="@statusColorClass">@appointment.AppointmentStatus</p></td>
                        <td>2024-05-21</td>
                        <td>
                         @if (appointment.AppointmentStatus == "Chờ Xác Nhận")
                        {
                            <a class="confirm-link" style="color:blue; text-decoration:none;" asp-controller="dentistdetail" asp-action="changestatusappointment" asp-route-appointmentID="@appointment.ID" asp-route-statusNumber="1">Xác Nhận</a>
                            <a class="confirm-link" style="color:red; text-decoration:none;" asp-controller="dentistdetail" asp-action="cancelappointment" asp-route-appointmentID="@appointment.ID">Hủy</a>
                        }
                        else if (appointment.AppointmentStatus == "Đã Chấp Nhận")
                        {
                            <a class="confirm-link" style="color:green; text-decoration:none;" asp-controller="dentistdetail" asp-action="changestatusappointment" asp-route-appointmentID="@appointment.ID" asp-route-statusNumber="2">Đã Khám</a>
                            <a class="confirm-link" style="color:red; text-decoration:none;" asp-controller="dentistdetail" asp-action="cancelappointment" asp-route-appointmentID="@appointment.ID">Hủy</a>
                        } 
                        @* @if (appointment.AppointmentStatus == "Chờ Xác Nhận" || appointment.AppointmentStatus == "Đã Chấp Nhận")
                        {
                            <a href="@Url.Action("changestatusappointment", "dentistdetail", new { appointmentID = appointment.ID, statusNumber = appointment.AppointmentStatus == "Chờ Xác Nhận" ? 1 : 2 })" class="confirm-link" style="color:blue; text-decoration:none;">Xác Nhận</a>
                            <a href="@Url.Action("cancelappointment", "dentistdetail", new { appointmentID = appointment.ID })" class="confirm-link" style="color:red; text-decoration:none;">Hủy</a>
                        } *@
                        else if (appointment.AppointmentStatus == "Đã Khám")
                        {
                            <button type="button" class="btn show-popup" data-appointment-id="@appointment.ID"
                                    data-patient-name="@appointment.PatientRecords.FullName"
                                    data-patient-gender="@appointment.PatientRecords.Gender"
                                    data-patient-dob="@appointment.PatientRecords.DateOfBirth.ToString("dd/MM/yyyy")"
                                    data-patient-phone="@appointment.PatientRecords.PhoneNumber"
                                    data-patient-email="@appointment.PatientRecords.EmailReceiver"
                                    data-patient-province="@await LocalAPIReverseString.GetProvinceNameById(appointment.PatientRecords.Province)"
                                    data-patient-district="@await LocalAPIReverseString.GetDistrictNameById(appointment.PatientRecords.Province, appointment.PatientRecords.District)"
                                    data-patient-ward="@await LocalAPIReverseString.GetWardNameById(appointment.PatientRecords.District, appointment.PatientRecords.Ward)"
                                    data-patient-address="@appointment.PatientRecords.Address"
                                    data-appointment-price="@string.Format(new CultureInfo("vi-VN"), "{0:#,##0.} đ" , appointment.TotalPrice)"
                                    data-appointment-status="@appointment.AppointmentStatus">
                                <p style="font-size:20px; color:chocolate; text-decoration:underline;">Chi Tiết Đơn</p>
                            </button>
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <ul class="pagination" id="pagination"></ul>
    </div>

    <!-- Modal xác nhận -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content" style="width:100%;">
                <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel" style="font-size:20px;">Xác Nhận Hành Động</h5>
                <button type="button" class="btn-close" style="font-size:20px;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body" style="font-size:20px;">
                    Bạn có chắc chắn muốn thực hiện hành động này?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size:20px;">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmAction" style="font-size:20px;">Xác Nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Dark overlay -->
<div class="modal-overlay" id="modalOverlay"></div>

    <!-- Hidden block to display as a popup -->
<div class="modal-content-appointment" id="popupBlock">
        <form id="pdfForm" asp-controller="AppointmentPdf" asp-action="GeneratePdf" method="post" target="_blank">
            <input type="hidden" id="appointmentID" name="appointmentID" />
            <!--Phần Hiển thị thông tin đơn khám mini-->
            <div style='display: flex; justify-content: space-between;'>
            <p><strong>Mã Số Phiếu: </strong> <span style='font-size: 16px;' id="appointmentID"></span> </p>
            </div>

            <h2 style='text-align:center;'>Phiếu Khám Nha Khoa</h2>

            <div style='display: flex; justify-content: space-between;'>
                <div style='width: 50%;'>
                    <p><strong>Họ và Tên: </strong> <span style='font-size: 16px;' id="patientName"></span> </p>
                <p><strong>Ngày/ Tháng/ Năm Sinh: </strong> <span style='font-size: 16px;' id="patientDOB"></span> </p>
                    <p><strong>Điện Thoại: </strong> <span style='font-size: 16px;' id="patientPhone"></span> </p>
                </div>
                <div>
                <p><strong>Giới Tính: </strong> <span style='font-size: 16px;' id="patientGender"></span> </p>
                <p><strong>Email: </strong> <span style='font-size: 16px;' id="patientEmail"></span> </p>
                </div>
            </div>
        <p><strong>Địa Chỉ: </strong><span style='font-size: 16px;' id="patientAddress"></span>, <span style='font-size: 16px;' id="patientWard"></span>, <span style='font-size: 16px;' id="patientDistrict"></span>, <span style='font-size: 16px;' id="patientProvince"></span></p>
        <table style='border-collapse:collapse; width:100%; border:1px solid black; text-align: end;'>
                <tr>
                    <th style='border:1px solid black; text-align: end;'>STT</th>
                    <th style='border:1px solid black; text-align: end;'>Tên Chuyên Khoa</th>
                    <th style='border:1px solid black; text-align: end;'>Ngày Khám</th>
                    <th style='border:1px solid black; text-align: end;'>Số Lượng</th>
                    <th style='border:1px solid black; text-align: end;'>Giá Khám</th>
                </tr>
                <tr>
                    <td style='text-align:end; border:1px solid black; text-align: end;'>1</td>
                <td style='text-align:end; border:1px solid black; text-align: end;'><span style='font-size: 16px;' id="patient"></span></td>
                    <td style='text-align:end; border:1px solid black; text-align: end;'>22/06/2024</td>
                    <td style='text-align:end; border:1px solid black; text-align: end;'>1</td>
                    <td id="appointmentPrice" style='text-align:end; border:1px solid black; text-align: end;'></td>
                </tr>
            </table>

        <p><strong>Tổng chi phí: </strong><span style='font-size: 16px;' id="appointmentPrice"></span></p>
            <div style="display:flex; justify-content:space-between;">
                <div>
                    <p><strong>Kết Quả Khám: </strong></p>
                    <p><strong>HẸN TÁI KHÁM (nếu có): </strong></p>
                    <p><strong>Dặn dò (nếu có): </strong></p>
                </div>
                <div style="width:60%;">
                <input name="ketquakham" type="text" style="width:100%; margin-bottom:2px;"><br>
                <input name="hentaikham" type="text" style=" width:100%; margin-bottom:2px;"><br>
                <input name="dando" type="text" style="width:100%; margin-bottom:2px;">
                </div>
            </div>

            <div style="text-align: end; justify-content:space-between; margin-top:2px; font-size:15px;">
            <button type="submit" class="btn btn-warning" style="font-size:20px;">Xuất PDF</button>
            <button type="button" class="btn btn-secondary" id="closePopup" style="font-size:20px;">Đóng</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/53f42380b0.js" crossorigin="anonymous"></script>
    <script src="~/assets/js/pagination.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
            let confirmedLink = '';

            document.querySelectorAll('td a.confirm-link').forEach(link => {
                link.addEventListener('click', (e) => {
                    e.preventDefault();
                    confirmedLink = link.href;
                    confirmModal.show();
                });
            });

            document.getElementById('confirmAction').addEventListener('click', () => {
                window.location.href = confirmedLink;
            });
        });

        document.querySelectorAll('.show-popup').forEach(button => {
            button.addEventListener('click', (e) => {
                const appointmentID = e.currentTarget.getAttribute('data-appointment-id');
                const patientName = e.currentTarget.getAttribute('data-patient-name');
                const patientGender = e.currentTarget.getAttribute('data-patient-gender');
                const patientPhone = e.currentTarget.getAttribute('data-patient-phone');
                const patientEmail = e.currentTarget.getAttribute('data-patient-email');
                const patientProvince = e.currentTarget.getAttribute('data-patient-province');
                const patientDistrict = e.currentTarget.getAttribute('data-patient-district');
                const patientWard = e.currentTarget.getAttribute('data-patient-ward');
                const patientAddress = e.currentTarget.getAttribute('data-patient-address');
                const appointmentPrice = e.currentTarget.getAttribute('data-appointment-price');
                const patientDOB = e.currentTarget.getAttribute('data-patient-dob');

                console.log(appointmentID);

                document.getElementById('appointmentID').value = appointmentID;
                document.getElementById('patientName').textContent = patientName;
                document.getElementById('patientGender').textContent = patientGender;
                document.getElementById('patientPhone').textContent = patientPhone;
                document.getElementById('patientEmail').textContent = patientEmail;
                document.getElementById('patientProvince').textContent = patientProvince;
                document.getElementById('patientDistrict').textContent = patientDistrict;
                document.getElementById('patientWard').textContent = patientWard;
                document.getElementById('patientAddress').textContent = patientAddress;
                document.getElementById('appointmentPrice').textContent = appointmentPrice;
                document.getElementById('patientDOB').textContent = patientDOB;
                document.getElementById('popupBlock').style.display = 'block';
                document.getElementById('modalOverlay').style.display = 'block';

                
            });
        });

        document.getElementById('closePopup').addEventListener('click', () => {
            document.getElementById('popupBlock').style.display = 'none';
            document.getElementById('modalOverlay').style.display = 'none';
        });

        document.getElementById('modalOverlay').addEventListener('click', () => {
            document.getElementById('popupBlock').style.display = 'none';
            document.getElementById('modalOverlay').style.display = 'none';
        });
    </script>


