@model IEnumerable<Dental_Clinic_System.Models.Data.FutureAppointment>
@using Dental_Clinic_System.Helper
@using System.Globalization
@{
    ViewData["Title"] = "Đơn Tái Khám";
    string statusColorClass = "status";
}
<head>
    <link rel="stylesheet" href="~/assets/css/sidebar.css" />
    <link rel="stylesheet" href="~/assets/css/headerAd.css" />
    <link rel="stylesheet" href="~/assets/css/dentistpatients.css" />
    <link rel="stylesheet" href="~/assets/css/specialtydash.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/schedule.css" />
    <link rel="stylesheet" href="~/assets/css/mobiscroll.javascript.min.css" />
    <style>
        a{
            text-decoration: none;
        }

    </style>
</head>

<div class="patients__management" style="padding: 40px">
    <h1 style="text-align:center;"><strong>Quản Lý Đơn Tái Khám</strong></h1>
    <div class="text-center"><img style="vertical-align: middle;" src="/assets/images/separate-01.png" alt="Sepherate image"></div>
    <div class="search__bar" style="text-align:end;">
        <input style="font-size:15px;" type="search" placeholder="Tìm kiếm ..." name="keyword">
        <button style="background-color: transparent; border:none;" type="submit"><i style="font-size:20px;" class="fas fa-search"></i></button>
    </div>
    <table class="table table-striped mt-5" style="font-size: 2rem;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên bệnh nhân</th>
                <th>Ngày khám</th>
                <th>GIờ hẹn</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody id="myTableBody">
            @foreach (var futureAppointment in Model)
            {
                <tr>
                    <td>@futureAppointment.ID</td>
                    <td>@futureAppointment?.PatientRecord?.FullName</td>
                    <td>@futureAppointment?.DesiredDate.ToString("dd/MM/yyyy")</td>
                    <td>@futureAppointment?.StartTime.ToString("HH:mm") - @futureAppointment?.EndTime.ToString("HH:mm")</td>

                    @switch (@futureAppointment.FutureAppointmentStatus)
                    {
                        @case "Chưa Khám": statusColorClass = "status notyet"; break;
                        @case "Đã Khám": statusColorClass = "status complete"; break;
                        @case "Đã Hủy": statusColorClass = "status deny"; break;
                    }
                    <td><p class="@statusColorClass">@futureAppointment.FutureAppointmentStatus</p></td>
                    <td>
                        @if (futureAppointment.FutureAppointmentStatus == "Chưa Khám")
                        {
                            <a class="confirm-link" style="color:green; text-decoration:none;" asp-controller="dentistdetail" asp-action="changestatusfutureappointment" asp-route-futureappointmentID="@futureAppointment.ID">Đã Khám</a>
                            <span> | </span>
                            <a class="cancel-link" style="color:red; text-decoration:none;" asp-controller="dentistdetail" asp-action="cancelfutureappointment" asp-route-futureappointmentID="@futureAppointment.ID">Hủy</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination" id="pagination"></ul>
</div>

<!-- Modal xác nhận -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:100%;">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel" style="font-size:20px;">Xác Nhận Hành Động</h5>
                <button type="button" class="btn-close" style="font-size:20px;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size:20px;">
                Bạn có chắc chắn muốn thực hiện hành động này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size:20px;">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmAction" style="font-size:20px;">Xác Nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cho button Hủy -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:100%;">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel" style="font-size:20px;">Xác Nhận Hủy?</h5>
                <button type="button" class="btn-close" style="font-size:20px;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size:20px;">
                <input style="line-height:2; font-size:20px;" type="text" class="form-control" id="cancelDescription" placeholder="Vui lòng nhập lý do hủy ở đây" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size:20px;">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmCancelAction" style="font-size:20px;">Xác Nhận</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://kit.fontawesome.com/53f42380b0.js" crossorigin="anonymous"></script>
<script src="~/assets/js/pagination.js"></script>
<script src="~/assets/js/mobiscroll.javascript.min.js"></script>

 <script>
    document.addEventListener('DOMContentLoaded', () => {
        const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
        const cancelModal = new bootstrap.Modal(document.getElementById('cancelModal'));
        let confirmedLink = '';

        document.querySelectorAll('td a.confirm-link').forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();
                confirmedLink = link.href;
                confirmModal.show();
            });
        });

        document.querySelectorAll('td a.cancel-link').forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();
                confirmedLink = link.href;
                cancelModal.show();
            });
        });

        document.getElementById('confirmAction').addEventListener('click', () => {
            window.location.href = confirmedLink;
        });

        document.getElementById('confirmCancelAction').addEventListener('click', () => {
            const description = document.getElementById('cancelDescription').value;
            if (description) {
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = confirmedLink;

                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'description';
                input.value = description;

                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
            } else {
                alert("Vui lòng nhập lý do hủy.");
            }
        });
    });
</script> 


