@model IEnumerable<Dental_Clinic_System.Models.Data.Dentist>
@{
    var specialtyID = ViewBag.SpecialtyID as int?;
    var specialtyName = ViewBag.SpecialtyName as string;
    var specialtyDesc = ViewBag.SpecialtyDesc as string; 
    ViewData["Title"] = specialtyName;
}

<head>
    <meta name="description" content="Đây là nơi hiển thị ra các nha sĩ hàng đầu thuộc một chuyên khoa nào đó">
    <link rel="stylesheet" href="~/assets/css/dentistry.css" />
</head>

<div class="dentistry">
    <h1 class="dentistry__title text-center fw-bold">@specialtyName</h1>
    <div class="text-center">
        <img src="~/assets/images/separate.png" alt="" />
    </div>
    <h2 class="dentistry__subtitle text-center">Mô tả</h2>
    <div class="text-center">
        <img src="~/assets/images/separate-02.png" alt="" />
    </div>
    <p class="dentistry__desc">
        @specialtyDesc
    </p>
    <div class="dentistry__wrapper">
        <div class="d-flex justify-content-between">
            <h2 class="dentistry__dentist">Nha Sĩ uy tín</h2>
            <div class="dentistry__sort">
                <span>Sắp xếp theo: </span>
                <div class="location__filter__style">
                    <select name="location" id="location__filter">
                        <option value="all">Toàn quốc</option>
                        <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="Hải Phòng">Hải Phòng</option>
                        <option value="Nam Định">Nam Định</option>
                        <option value="Bà Rịa - Vũng Tàu">
                            Bà Rịa - Vũng Tàu
                        </option>
                    </select>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <img src="~/assets/images/separate-01.png" alt="" />

        <h2 class="emptyDentistList">Danh sách nha sĩ trống</h2>

        <div class="dentistry__info row">
            @foreach (var dentistry in Model)
            {
                <!-- ====== DENTIST ITEM CARD INFO ====== -->
                <div class="col-md-6 dentistItem">
                    <div class="dentistry__info__card">
                        <!-- ========== PERSONAL INFORMATION ========== -->
                        <div class="dentistInfo__personal">
                            <div class="dentistInfo__image">
                                <img src="@dentistry.Account.Image" alt="Dentist Image" />
                            </div>
                            <div class="dentistInfo__groupInfo">
                                <h3 class="name">@dentistry.Account.LastName @dentistry.Account.FirstName</h3>
                                <p class="specialty">
                                    <strong>Chuyên khoa: </strong> @specialtyName
                                </p>
                                <p class="gender">
                                    <strong>Giới tính: </strong>@dentistry.Account.Gender
                                </p>
                                <p class="degree">
                                    <strong>Bằng cấp: </strong> @dentistry.Degree.Name
                                </p>
                            </div>
                        </div>

                        <!-- ========== CLINIC INFORMATION ========== -->
                        <div class="dentistInfo__clinic">
                            <div class="dentistInfo__clinic__address">
                                <div class="address__img">
                                    <svg stroke="currentColor"
                                         fill="none"
                                         stroke-width="0"
                                         viewBox="0 0 24 24"
                                         class="styles_linear-location__X__vZ"
                                         height="1em"
                                         width="1em"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    </svg>
                                </div>
                                <div class="address__detail">
                                    <p>
                                        <strong>
                                            @dentistry.Clinic.Name
                                        </strong>
                                    </p>
                                    <p class="address">
                                        @dentistry.Clinic.Address, @dentistry.Clinic.WardName, @dentistry.Clinic.DistrictName, @dentistry.Clinic.ProvinceName
                                    </p>
                                </div>
                            </div>
                            <div class="dentistInfo__booking">
                                <a asp-controller="clinic" asp-action="clinicdentistcalendar" asp-route-clinicID="@dentistry.Clinic.ID" asp-route-specialtyID="@specialtyID" asp-route-dentistID="@dentistry.ID">
                                    <button type="button">
                                        Đặt ngay
                                    </button>
                                </a>
                                <br />
                                <a asp-controller="chat" asp-action="index" asp-route-dentistID="@dentistry.ID">
                                    <button type="button" class="chat-button">
                                        Chat ngay
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const locationFilter = document.getElementById('location__filter');
        const dentistItems = document.querySelectorAll('.dentistItem');
        const emptyDentistList = document.querySelector('.emptyDentistList');

        locationFilter.addEventListener('change', function () {
            const selectedLocation = locationFilter.value.toLowerCase();
            let hasVisibleItems = false;

            dentistItems.forEach(item => {
                const address = item.querySelector('.address').textContent.toLowerCase();
                if (selectedLocation === 'all' || address.includes(selectedLocation)) {
                    item.classList.add('fade-in');
                    item.style.display = 'block';
                    hasVisibleItems = true;
                } else {
                    item.classList.remove('fade-in');
                    item.style.display = 'none';
                }
            });

            if (hasVisibleItems) {
                emptyDentistList.classList.remove('fade-in');
                emptyDentistList.style.display = 'none';
            } else {
                emptyDentistList.classList.add('fade-in');
                emptyDentistList.style.display = 'block';
            }
        });
    });
</script>