@model Dental_Clinic_System.Models.Data.Dentist
@{
	ViewData["Dentist"] = "DentistInformation";
}

<head>
	<link rel="stylesheet" href="~/assets/css/dentist.css" />
</head>

<div class="dentist">
	<div class="dentist__profile">
		<img src="@Model.Account.Image" alt="" />
		<div class="dentist__profile__info">
			<h1 class="name">Bác sĩ Chuyên khoa | @Model.Account.LastName @Model.Account.FirstName </h1>
			<div class="desc">
				@Html.Raw(Model.Description)
			</div>
			<p class="location">
				<i class="fa-solid fa-location-dot"></i> @Model.Clinic.Province
			</p>
		</div>
	</div>
	<div class="dentist__profile__work">
		<div class="dentist__profile__work--schedule">
			<select name="calendar" id="">
				<option value="Thứ 4 - 22/05">Thứ 4 - 22/05</option>
				<option value="Thứ 4 - 22/05">Thứ 5 - 23/05</option>
				<option value="Thứ 4 - 22/05">Thứ 6 - 24/05</option>
				<option value="Thứ 4 - 22/05">Thứ 7 - 25/05</option>
				<option value="Thứ 4 - 22/05">CN - 26/05</option>
				<option value="Thứ 4 - 22/05">Thứ 2 - 27/05</option>
				<option value="Thứ 4 - 22/05">Thứ 3 - 28/05</option>
			</select>
			<p class="sub-title">
				<i class="fa-regular fa-calendar"></i>Đặt lịch khám
			</p>
			<div class="dentist__profile__work--schedule__wrapper">
				<a asp-controller="specialty" asp-action="bookdentist" asp-route-specialtyID="@ViewBag.specialtyID" asp-route-dentistID="@ViewBag.dentistID">08:00 - 08:30</a>

			</div>
			<p class="note">
				Chọn <i class="fa-regular fa-hand-point-up"></i> và đặt.
				&#10088;Phí đặt lịch ...&#10089;
			</p>
		</div>
		<div class="dentist__profile__work--location">
			<p class="clinic__address">ĐỊA CHỈ KHÁM</p>
			<p class="clinic__name">@Model.Clinic.Name</p>
			<p class="clinic__address__detail">
				@Model.Clinic.Address
			</p>
			<hr />
			<p class="book__price"><span>GIÁ KHÁM:</span> Miễn phí</p>
		</div>
		<div class="separate"></div>
	</div>
</div>
<div class="dentist__detail"
	 style="background: #f9f9f9; text-align: center; font-size: 6.8rem">
	UPDATING...
</div>


