@using Dental_Clinic_System.Models.Data
@using Dental_Clinic_System.Helper
@using System.Globalization
@model Dictionary<string, object>

@{
    ViewData["Title"] = "ConfirmAppointment";
    var schedule = Model["Schedule"] as Schedule;
    var patientRecord = Model["PatientRecord"] as PatientRecord;
    var specialty = Model["Specialty"] as Specialty;
    var dentist = Model["Dentist"] as Dentist;
    var clinic = Model["Clinic"] as Clinic;

}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xác Nhận Đặt Lịch</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/css/header.css" />
    <link rel="stylesheet" href="~/assets/css/footer.css" />
    <link rel="stylesheet" href="~/assets/css/patientrecord.css" />
</head>

<main>
    <div class="pt__record">
        <h1 class="pt__record__title text-center fw-bold">
            Xác nhận thông tin
        </h1>
        <div class="text-center">
            <img src="~/assets/images/separate.png" alt="" />
        </div>
        <div class="style__container">
            <div class="style__container__confirm row">
                <div class="pt__rcd__clinic__style col-md-3">
                    <!-- ======== CLINIC ======== -->
                    <div class="pt__rcd__clinic">
                        <div class="pt__rcd__title">
                            <span>Thông tin cơ sở y tế</span>
                        </div>
                        <div class="pt__rcd__clinic__body">
                            <div class="clinic__info">
                                <i class="fa-solid fa-hospital"></i>
                                <div class="clinic__info__details">
                                    <span>@clinic?.Name</span>
                                    <!--<p>@clinic?.Address, @await LocalAPIReverseString.GetWardNameById(clinic?.District ?? 0, clinic?.Ward ?? 0), @await LocalAPIReverseString.GetDistrictNameById(clinic?.Province ?? 0, clinic?.District ?? 0), @await LocalAPIReverseString.GetProvinceNameById(clinic?.Province ?? 0)</p>-->
                                    <p>@clinic?.Address, @clinic.WardName, @clinic.DistrictName, @clinic.ProvinceName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt__rcd__service__details__style col-md-9">
                    <div class="pt__rcd__service__details">
                        <!-- ======== SERVICE ======== -->
                        <div class="pt__rcd__service">
                            <div class="pt__rcd__title">Xác nhận thông tin khám</div>
                            <div class="pt__rcd__service__body">
                                <table class="service__table__style">
                                    <thead>
                                        <tr>
                                            <th class="style__col__first">#</th>
                                            <th class="style__col__other">Chuyên khoa</th>
                                            <th class="style__col__other">Nha sĩ</th>
                                            <th class="style__col__other">Thời gian khám</th>
                                            <th class="style__col__other">Giá khám</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="style__col__first">1</td>
                                            <td class="style__col__sub__other">
                                                @specialty?.Name
                                            </td>
                                            <td class="style__col__sub__other">@dentist.Account.LastName @dentist.Account.FirstName</td>
                                            <td class="style__col__sub__other">
                                                <p>@schedule?.TimeSlot?.StartTime.ToString("HH:mm") - @schedule?.TimeSlot?.EndTime.ToString("HH:mm")</p>
                                                <p>@schedule?.Date.ToString("dd/MM/yyyy")</p>
                                            </td>
                                            <td class="style__col__sub__other">@string.Format(new CultureInfo("vi-VN"), "{0:#,##0.} đ", specialty?.Deposit)</td>
                                             @* <td>
                                                <button type="button" class="delete-btn">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td> *@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- ======== DETAILS ======== -->
                        <div class="pt__rcd__details">
                            <div class="pt__rcd__title">Thông tin bệnh nhân</div>
                            <div class="pt__rcd__details__body">
                                <!-- ==== STYLE ==== -->
                                <div class="pt__rcd__details__body__style">
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-user"> </i><span>Họ và tên:</span>
                                        </div>
                                        <div class="details__item__content name">
                                            @patientRecord.FullName
                                        </div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-mars-and-venus"></i><span>Giới tính:</span>
                                        </div>
                                        <div class="details__item__content">@patientRecord.Gender</div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-cake-candles"></i><span>Ngày sinh:</span>
                                        </div>
                                        <div class="details__item__content">@patientRecord.DateOfBirth.ToString("dd/MM/yyyy")</div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-at"></i><span>Email:</span>
                                        </div>
                                        <div class="details__item__content">
                                            @patientRecord.EmailReceiver
                                        </div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-phone"></i><span>Số điện thoại:</span>
                                        </div>
                                        <div class="details__item__content">@patientRecord.PhoneNumber</div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-location-dot"></i><span>Địa chỉ:</span>
                                        </div>
                                        <div class="details__item__content">
                                            @patientRecord.Address
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <a href="/patientrecord/patientrecord?clinicID=@ViewBag.clinicID&specialtyID=@ViewBag.specialtyID&dentistID=@ViewBag.dentistID&scheduleID=@ViewBag.scheduleID">
                            <button type="button" class="back-btn">
                                Quay lại <i class="fa-solid fa-arrow-rotate-left"></i>
                            </button>
                        </a>
                        <a asp-controller="patientrecord" asp-action="patientrecordpaymentchoosing" asp-route-specialtyID="@ViewBag.specialtyID" 
                                                                                                    asp-route-dentistID="@ViewBag.dentistID" 
                                                                                                    asp-route-patientRecordID="@ViewBag.patientRecordID" 
                                                                                                    asp-route-scheduleID="@ViewBag.scheduleID" 
                                                                                                    asp-route-clinicID="@ViewBag.clinicID">
                            <button type="button" class="add-record-btn">Xác nhận</button> @* -------------------------------------------*@
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/53f42380b0.js"
        crossorigin="anonymous"></script>