@using Dental_Clinic_System.Models.Data
@using Dental_Clinic_System.Helper
@using System.Globalization
@model Dictionary<string, object>

@{
    ViewData["Title"] = "Xác Nhận Đơn Khám";
    //var schedule = Model["Schedule"] as Schedule;
    var patientRecord = Model["PatientRecord"] as PatientRecord;
    var specialty = Model["Specialty"] as Specialty;
    var dentist = Model["Dentist"] as Dentist;
    var clinic = Model["Clinic"] as Clinic;

    string[] bookingDateTime = ViewBag.bookingDateTime.Split(" ");

    string bookingDate = DateTime.ParseExact(bookingDateTime[0], "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("dd-MM-yyyy");
    string bookingStartTime = bookingDateTime[1];
    string bookingEndTime = bookingDateTime[2];

}

<head>
    <meta name="description" content="Đây là nơi bạn xác nhận đơn khám trước khi tiếp tục đến bước thanh toán">
    <link rel="stylesheet" href="~/assets/css/patientrecord.css" />
    <link rel="stylesheet" href="~/assets/css/marquee.css" />
</head>

<main>
    <div class="pt__record">
        <div class="marquee" style="padding: 0; margin-bottom: 20px;">
            <p>
                Quý khách hàng vui lòng không đặt lịch khám quá nhiều lần trong ngày, nếu vi phạm điều này nền tảng chúng tôi sẽ không chịu trách nhiệm hoàn tiền cho quý khách. Xin cảm ơn !
            </p>
        </div>
        <h1 class="pt__record__title text-center fw-bold">
            Xác nhận thông tin
        </h1>
        <div class="text-center">
            <img src="~/assets/images/separate.png" alt="" />
        </div>
        <div class="style__container">
            <div class="style__container__confirm row">
                <div class="pt__rcd__clinic__style col-md-3">
                    <!-- ======== CLINIC ======== -->
                    <div class="pt__rcd__clinic">
                        <div class="pt__rcd__title">
                            <span>Thông tin cơ sở y tế</span>
                        </div>
                        <div class="pt__rcd__clinic__body">
                            <div class="clinic__info">
                                <i class="fa-solid fa-hospital"></i>
                                <div class="clinic__info__details">
                                    <span>@clinic?.Name</span>
                                    <p>@clinic?.Address, @clinic?.WardName, @clinic?.DistrictName, @clinic?.ProvinceName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt__rcd__service__details__style col-md-9">
                    <div class="pt__rcd__service__details">
                        <!-- ======== SERVICE ======== -->
                        <div class="pt__rcd__service">
                            <div class="pt__rcd__title">Xác nhận thông tin khám</div>
                            <div class="pt__rcd__service__body">
                                <table class="service__table__style">
                                    <thead>
                                        <tr>
                                            <th class="style__col__first">#</th>
                                            <th class="style__col__other">Chuyên khoa</th>
                                            <th class="style__col__other">Nha sĩ</th>
                                            <th class="style__col__other">Thời gian khám</th>
                                            <th class="style__col__other">Giá khám</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="style__col__first">1</td>
                                            <td class="style__col__sub__other">
                                                @specialty?.Name
                                            </td>
                                            <td class="style__col__sub__other">@dentist?.Account.LastName @dentist?.Account.FirstName</td>
                                            <td class="style__col__sub__other">
                                                <p>@bookingStartTime - @bookingEndTime</p>
                                                <p>@bookingDate</p>
                                            </td>
                                            <td class="style__col__sub__other">@string.Format(new CultureInfo("vi-VN"), "{0:#,##0.} đ", specialty?.Deposit)</td>
                                            @* <td>
                                            <button type="button" class="delete-btn">
                                            <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                            </td> *@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- ======== DETAILS ======== -->
                        <div class="pt__rcd__details">
                            <div class="pt__rcd__title">Thông tin bệnh nhân</div>
                            <div class="pt__rcd__details__body">
                                <!-- ==== STYLE ==== -->
                                <div class="pt__rcd__details__body__style">
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-user"> </i><span>Họ và tên:</span>
                                        </div>
                                        <div class="details__item__content name">
                                            @patientRecord?.FullName
                                        </div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-mars-and-venus"></i><span>Giới tính:</span>
                                        </div>
                                        <div class="details__item__content">@patientRecord?.Gender</div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-cake-candles"></i><span>Ngày sinh:</span>
                                        </div>
                                        <div class="details__item__content">@patientRecord?.DateOfBirth.ToString("dd/MM/yyyy")</div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-at"></i><span>Email:</span>
                                        </div>
                                        <div class="details__item__content">
                                            @patientRecord?.EmailReceiver
                                        </div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-phone"></i><span>Số điện thoại:</span>
                                        </div>
                                        <div class="details__item__content">@patientRecord?.PhoneNumber</div>
                                    </div>
                                    <div class="details__item">
                                        <div class="details__item__title">
                                            <i class="fa-solid fa-location-dot"></i><span>Địa chỉ:</span>
                                        </div>
                                        <div class="details__item__content">
                                            @patientRecord?.Address
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <a href="/patientrecord/patientrecord?clinicID=@ViewBag.clinicID&specialtyID=@ViewBag.specialtyID&dentistID=@ViewBag.dentistID&bookingDateTime=@ViewBag.bookingDateTime">
                            <button type="button" class="back-btn">
                                Quay lại <i class="fa-solid fa-arrow-rotate-left"></i>
                            </button>
                        </a>
                        <a asp-controller="patientrecord" asp-action="patientrecordpaymentchoosing" asp-route-specialtyID="@ViewBag.specialtyID"
                           asp-route-dentistID="@ViewBag.dentistID"
                           asp-route-patientRecordID="@ViewBag.patientRecordID"
                           asp-route-bookingDateTime="@ViewBag.bookingDateTime"
                           asp-route-clinicID="@ViewBag.clinicID">
                            <button type="button" class="add-record-btn">Xác nhận</button> @* -------------------------------------------*@
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>