@using Dental_Clinic_System.Models.Data
@using System.Globalization
@using Dental_Clinic_System.Helper
@model Dictionary<string, object>
@{
    ViewData["Title"] = "PatientRecordPayment";
    var schedule = Model["Schedule"] as Schedule;
    var patientRecord = Model["PatientRecord"] as PatientRecord;
    var specialty = Model["Specialty"] as Specialty;
    var dentist = Model["Dentist"] as Dentist;
    var clinic = Model["Clinic"] as Clinic;
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dental Care | login</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/css/header.css" />
    <link rel="stylesheet" href="~/assets/css/footer.css" />
    <link rel="stylesheet" href="~/assets/css/patientrecord.css" />
</head>

<div class="pt__record">
    <h1 class="pt__record__title text-center fw-bold">
        Xác nhận thông tin
    </h1>
    <div class="text-center">
        <img src="~/assets/images/separate.png" alt="" />
    </div>
    <div class="style__container payment">
        <div class="style__container__confirm row">
            <div class="pt__rcd__clinic__style col-md-3">
                <!-- ======== PATIENT ======== -->
                <div class="pt__rcd__patient">
                    <div class="pt__rcd__title">Thông tin bệnh nhân</div>
                    <div class="pt__rcd__patient__body">
                        <div class="patient__info">
                            <i class="bx bxs-user-circle"></i>
                            <div class="patient__info__details">@patientRecord?.FullName</div>
                        </div>
                        <div class="patient__info">
                            <i class="fa-solid fa-phone"></i>
                            <div class="patient__info__details">@patientRecord?.PhoneNumber</div>
                        </div>
                        <div class="patient__info">
                            <i class="fa-solid fa-map-location-dot"></i>
                            <div class="patient__info__details">
                                @patientRecord?.Address, @await LocalAPIReverseString.GetWardNameById(patientRecord?.District??0, patientRecord?.Ward??0), @await LocalAPIReverseString.GetDistrictNameById(patientRecord?.Province??0, patientRecord?.District??0), @await LocalAPIReverseString.GetProvinceNameById(patientRecord?.Province??0)
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ======== CLINIC ======== -->
                <div class="pt__rcd__clinic">
                    <div class="pt__rcd__title">
                        <span>Thông tin cơ sở y tế</span>
                    </div>
                    <div class="pt__rcd__clinic__body">
                        <div class="clinic__info">
                            <i class="fa-solid fa-hospital"></i>
                            <div class="clinic__info__details">
                                <span>@clinic?.Name</span>
                                <p>@clinic?.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt__rcd__service__details__style col-md-9">
                <!-- ========== PAYMENT ========== -->
                <form asp-controller="payment" asp-action="ProcessCheckout" method="post">
                    <input type="hidden" name="scheduleID" value="@ViewBag.scheduleID" />
                    <input type="hidden" name="patientRecordID" value="@ViewBag.patientRecordID" />
                    <input type="hidden" name="specialtyID" value="@ViewBag.specialtyID" />
                    <input type="hidden" name="clinicID" value="@ViewBag.clinicID"></input>
                    <div class="pt__rcd__payment">
                        <div class="pt__rcd__title text-center">
                            Chọn phương thức thanh toán
                        </div>
                        <div class="pt__rcd__payment__body">
                            <div class="payment__info row">
                                <!-- ======== PAYMENT TYPE ======== -->
                                <div class="payment__type col-md-7">
                                    <div class="payment__type__collapse">
                                        <div class="collapse__item">
                                            <div class="collapse__item__header">
                                                <div class="collapse__item__header--text">
                                                    <label>
                                                        <div class="dots"></div>
                                                        <p>Thanh toán bằng VNPay</p>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="collapse__item__content">
                                                <div class="collapse__item__content--box">
                                                    <div class="style__box">
                                                        <div class="style__box__card active">
                                                            <figure>
                                                                <img src="~/assets/images/vnpay.jpg"
                                                                     alt="" />
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payment__type__collapse">
                                        <div class="collapse__item">
                                            <div class="collapse__item__header">
                                                <div class="collapse__item__header--text">
                                                    <label>
                                                        <div class="dots"></div>
                                                        <p>Thanh toán bằng MOMO</p>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="collapse__item__content">
                                                <div class="collapse__item__content--box">
                                                    <div class="style__box">
                                                        <div class="style__box__card active">
                                                            <figure>
                                                                <img src="~/assets/images/momo.png"
                                                                     alt="" />
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ======== PAYMENT BILL ======== -->
                                <div class="payment__bill col-md-5">
                                    <div class="payment__bill__title">
                                        <i class="fa-regular fa-credit-card"></i>
                                        <span>Thông tin thanh toán</span>
                                    </div>
                                    <div class="payment__bill__body">
                                        <ul class="list__bill">
                                            <div class="list__bill__style">
                                            <li>
                                                <div class="style__item">
                                                    <p class="style__item__key">
                                                        <i class="fa-solid fa-briefcase-medical"></i>
                                                        <span>Chuyên khoa</span>
                                                    </p>
                                                    <p class="style__item__value">Khám răng</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="style__item">
                                                    <p class="style__item__key">
                                                        <i class="fa-solid fa-user-doctor"></i>
                                                        <span>Nha sĩ</span>
                                                    </p>
                                                    <p class="style__item__value">@dentist?.Account.LastName @dentist?.Account.FirstName</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="style__item">
                                                    <p class="style__item__key">
                                                        <i class="fa-solid fa-calendar-day"></i>
                                                        <span>Ngày khám</span>
                                                    </p>
                                                    <p class="style__item__value">@string.Format("{0:dd/MM/yyyy}", schedule?.Date)</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="style__item">
                                                    <p class="style__item__key">
                                                        <i class="fa-solid fa-clock"></i>
                                                        <span>Giờ khám</span>
                                                    </p>
                                                    <p class="style__item__value">@schedule?.TimeSlot.StartTime - @schedule?.TimeSlot.EndTime</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="style__item">
                                                    <p class="style__item__key">
                                                        <span>Giá khám</span>
                                                    </p>
                                                    <p class="style__item__value price">
                                                            @string.Format(new CultureInfo("vi-VN"), "{0:#,##0.} đ", specialty?.Deposit)
                                                    </p>
                                                </div>
                                            </li>
                                            <input type="hidden" name="totalDeposit" value="@specialty?.Deposit" />
                                    </div>
                                    </ul>
                                    <ul class="list__payment">
                                        <li>
                                            <div class="style__item__payment">
                                                <p>Phí tiện ích + Phí TGTT:</p>
                                                <span>0 đ</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="style__item__payment total">
                                                <p>Tổng cộng:</p>
                                                <span class="price">@string.Format(new CultureInfo("vi-VN"), "{0:#,##0.} đ", specialty?.Deposit)</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrapper payment">
                            <a href="/appointment/confirm?scheduleID=@ViewBag.scheduleID&dentistID=@ViewBag.dentistID&specialtyID=@ViewBag.specialtyID&clinicID=@ViewBag.clinicID&patientRecordID=@ViewBag.patientRecordID">
                                 <button type="button" class="back-btn">
                                    Quay lại <i class="fa-solid fa-arrow-rotate-left"></i>
                            </button>
                            </a> 
                            <a>
                                <button type="submit" class="add-record-btn disabled-btn" disabled>
                                    Thanh toán
                                </button>
                            </a>
                        </div>
                    </div>
                    <input type="hidden" id="payment" name="paymentMethod" />
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/53f42380b0.js"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const collapses = document.querySelectorAll(".payment__type__collapse");

        collapses.forEach((collapse, collapseIndex) => {
            const headers = collapse.querySelectorAll(".collapse__item__header");
            const contents = collapse.querySelectorAll(".collapse__item__content");


            headers.forEach((header, index) => {
                header.addEventListener("click", () => {
                    // If the corresponding content is already active, collapse it
                    if (contents[index].classList.contains("active")) {
                        contents[index].classList.remove("active");
                        header.classList.remove("active"); // Remove 'active' class from the header
                    } else {
                        // Otherwise, collapse all contents and expand the corresponding one
                        collapses.forEach((collapse) => {
                            collapse
                                .querySelectorAll(".collapse__item__content")
                                .forEach((content) => content.classList.remove("active"));
                            collapse
                                .querySelectorAll(".collapse__item__header")
                                .forEach((header) => header.classList.remove("active")); // Remove 'active' class from all headers
                        });
                        contents[index].classList.add("active");
                        header.classList.add("active"); // Add 'active' class to the header
                    }

                    // Set the value of the element with id 'payment' based on the index
                    var confirmButton = document.getElementsByClassName("add-record-btn");
                    if (collapseIndex === 0) {
                        document.getElementById('payment').value = 'VNPAY';
                        confirmButton[0].className = confirmButton[0].className.replace(" disabled-btn", "");
                        confirmButton[0].removeAttribute('disabled');
                    } else if(collapseIndex === 1) {
                        document.getElementById('payment').value = 'MOMO';
                        confirmButton[0].className = confirmButton[0].className.replace(" disabled-btn", "");
                        confirmButton[0].removeAttribute('disabled');
                    }
                });
            });
        });
    });
</script>
