@using System.Globalization
@model IEnumerable<Dental_Clinic_System.Models.Data.Transaction>

@{
	ViewData["Title"] = "Lịch sử giao dịch";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
	var filter = ViewData["Filter"] as string ?? "All";
	var searchQuery = ViewData["Search"] as string ?? "";
}

<style>
	.btn-group {
		display: flex;
	}

	.btn-filter {
		background-color: #343a40;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		border: none;
		margin: 0 2px;
		cursor: pointer;
		transition: background-color 0.3s;
	}

		.btn-filter:hover, .btn-filter.active {
			background-color: #007bff;
		}

		.btn-filter.active {
			background-color: #007bff;
			color: white;
		}
</style>

<!-- account management header -->
<div class="account__management__header">
	<div class="title">Lịch sử giao dịch</div>
	<div class="action-btn">
		<a href="@Url.Action("TransactionHistory", "Transaction", new { filter = "All" })" class="btn btn-filter @(filter == "All" ? "active" : "")">Tất cả</a>
		<a href="@Url.Action("TransactionHistory", "Transaction", new { filter = "ThanhToan" })" class="btn btn-filter @(filter == "ThanhToan" ? "active" : "")">Thanh Toán</a>
		<a href="@Url.Action("TransactionHistory", "Transaction", new { filter = "HoanTien" })" class="btn btn-filter @(filter == "HoanTien" ? "active" : "")">Hoàn Tiền</a>
		
		<!-- TÌM KIẾM -->
		<form method="get" action="@Url.Action("TransactionHistory", "Transaction")" class="search__bar">
			<input type="hidden" name="filter" value="@filter" />
			<input type="text" name="search" value="@searchQuery" placeholder="Tìm kiếm..." />
		</form>

	</div>
</div>

<!-- Hiển thị số dư hiện tại -->
@* <div style="margin-top: 20px; margin-bottom: 20px; font-size: 1.8rem; background-color: #f8f9fa; padding: 10px 20px; border-radius: 5px;">
	<strong>Số dư hiện tại: </strong>
	<span style="color: green;">@string.Format(new CultureInfo("vi-VN"), "{0:#,##0.} đ", 100000)</span>
</div> *@

<table class="table table-striped mt-5" style="font-size: 1.6rem">
	<thead>
		<tr>
			<th class="text-center">STT</th>
			<th>Tên phòng khám</th>
			<th>Mã giao dịch</th>
			<th>Thời gian</th>
			<th>Phương thức</th>
			<th>Tổng tiền</th>
			<th>Nội dung</th>
			<th>Trạng thái</th>
		</tr>
	</thead>
	<tbody id="myTableBody">
		@if (Model != null && Model.Any())
		{
			int stt = 1;

			@foreach (var transaction in Model)
			{
				<tr style="vertical-align: middle">
					<td style="text-align: center">@stt</td>
					<td>@transaction.Appointment.Schedule.Dentist.Clinic.Name</td>
					<td>@transaction.TransactionCode</td>
					<td>@transaction.Date</td>
					<td>@transaction.BankName</td>
					<td>@string.Format(new CultureInfo("vi-VN"), "{0:#,##0.} đ", transaction.TotalPrice)</td>
					<td>@transaction.Message</td>
					<td>@transaction.Status</td>
				</tr>
				stt++;
			}
		}
	</tbody>
</table>


<!-- ========== PAGINATION  ========== -->
<ul class="pagination" id="pagination">
</ul>