@model IEnumerable<Dental_Clinic_System.ViewModels.ManagerAccountVM>

@{
	ViewData["Title"] = "ListAccount";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Thông báo lỗi -->
@if (!ViewData.ModelState.IsValid)
{
	<div class="alert alert-danger" role="alert">
		@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
		{
			<span>@error.ErrorMessage</span>

			<br />
		}
	</div>
}

<head>
	<style>
		.inline-block {
			display: inline-block;
			vertical-align: top;
		}

		.form-inline {
			display: inline-block;
			margin: 0;
		}
	</style>
</head>

<!-- account management header -->
<div class="account__management__header">
	<div class="title">Quản lý nha sĩ</div>
	<div class="action-btn">
		<!-- TÌM KIẾM -->
		<form action="~/Admin/Admin/SearchAccount" method="get">
			<input type="hidden" name="role" value="@ViewBag.role" />
			<div class="search__bar">
				<input type="search" placeholder="Tìm kiếm ..." / name="keyword">
			</div>
		</form>

		<button type="button"
				data-bs-toggle="modal"
				data-bs-target="#myModal"
				class="add__new">
			+ New
		</button>
	</div>
</div>


<!-- Modal For Add new User -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="mainTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered form-modal-styles">
		<form action="~/Admin/Admin/AddAccount" method="POST" class="modal-content" >
			<div class="modal-header">
				<h1 class="modal-title fs-10" id="mainTitle">
					Thêm mới người dùng
				</h1>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="user-name">
					<label for="username">Tên người dùng</label>
					<input type="text" name="Username" id="username" required />
				</div>
				<div class="user-password">
					<label for="password">Mật khẩu</label>
					<input type="password" name="Password" id="password" required />
				</div>
				<div class="user-tel">
					<label for="phonenumber">Số điện thoại</label>
					<input type="tel" name="PhoneNumber" id="phonenumber" required />
				</div>
				<div class="user-mail">
					<label for="email">Email</label>
					<input type="email" name="Email" id="email" required />
				</div>
				<div class="user-address">
					<label for="address">Địa chỉ</label>
					<input type="text" name="Address" id="address" required />
				</div>
				<input type="hidden" name="Role" id="role" value="@ViewBag.Role"/>
			</div>

			<div class="modal-footer">
				<button type="button" class="close-btn btn" data-bs-dismiss="modal">
					Close
				</button>
				<button type="submit" class="submit-btn btn">
					Save changes
				</button>
			</div>
		</form>
	</div>
</div>

<table class="table table-striped mt-5" style="font-size: 1.6rem">
	<thead>
		<tr>
			<th class="text-center">STT</th>
			<th>Tên người dùng</th>
			<th>Email</th>
			<th>Số điện thoại</th>
			<th>Địa chỉ</th>
			<th>Hành động</th>
		</tr>
	</thead>
	<tbody id="myTableBody">
		@foreach (var account in Model)
		{
			<tr style="vertical-align: middle">
				<td>@account.Id</td>
				<td>
					@* <img src="~/assets/images/avatar.jpg" alt="" /> *@
					@account.Username
				</td>
				<td>@account.Email</td>
				<td>@account.PhoneNumber</td>
				<td>@account.Address</td>
				<td>@account.Role</td>
				@* <td>@account.Status</td> *@
				<td>
					<a href="#!" class="inline-block">
						<button type="button">
							<i class="bx bxs-edit"></i>
						</button>
					</a>

					<form action="~/Admin/Admin/HiddenAccountStatus" method="post" class="form-inline">
						<input type="hidden" name="username" value="@account.Username" />
						<input type="hidden" name="status" value="Bị khóa" />
						<a href="#!">
							<button type="submit">
								<i class="bx bxs-trash"></i>
							</button>
						</a>
					</form>
				</td>
			</tr>
		}

	</tbody>
</table>

<!-- ========== PAGINATION  ========== -->
<ul class="pagination" id="pagination">
	<!-- <li class="page-item">
		<a class="page-link" href="#" style="font-size: 2rem">Previous</a>
	</li>
	<li class="page-item">
		<a class="page-link" href="#" style="font-size: 2rem">1</a>
	</li>
	<li class="page-item">
		<a class="page-link" href="#" style="font-size: 2rem">2</a>
	</li>
	<li class="page-item">
		<a class="page-link" href="#" style="font-size: 2rem">3</a>
	</li>
	<li class="page-item">
		<a class="page-link" href="#" style="font-size: 2rem">Next</a>
	</li> -->
</ul>
