@model Dental_Clinic_System.ViewModels.LoginVM
@{
    ViewData["Title"] = "Đăng nhập";
}

<head>
    <meta name="description" content="Đây là nơi bạn dùng để đăng nhập vào nền tảng của chúng tôi">
    <link rel="stylesheet" href="~/assets/css/login.css" />
</head>
<body>
    <div class="content">
        <div class="content__img">
            <img src="~/assets/images/login-image.png" alt="doctor" />
            <div class="content__img__quote">
                <p class="quote">
                    “Chưa hề có một ai có thể kiên nhẫn chịu đựng cơn đau răng” <br />
                    ~ Dr Đỗ Anh Tú
                </p>
                <p class="summary">&mdash; &copy; DentalCare &mdash;</p>
            </div>
        </div>
        <div class="content__form">
            <h1 class="content__form__title">Đăng nhập tài khoản</h1>
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["Error"]
                </div>
            }
            <div class="content__form__login"> 
                <a asp-controller="account" asp-action="loginbygoogle" style="
                   display: inline-block; margin-top: 63px;">
                    <button type="button" class="content__form__login__google">
                        <img src="~/assets/images/Google.png" alt="" />
                        Đăng nhập bằng Google
                    </button>
                </a>
            </div>
            <div class="content__form__separate">Hoặc</div>
            <form asp-action="Login" method="POST" asp-route-returnurl="@ViewBag.ReturnUrl" class="content__form__system" asp-validation-summary="All">
                <div class="username">
                    <img src="~/assets/images/envelope.svg" alt="" />
                    <input type="text" placeholder="Nhập tài khoản của bạn" asp-for="@Model.Username"  value="@ViewBag.RememberMeUsername" required />
                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                    @Html.ValidationMessage("errorLogin")
                </div>
                <div class="password password1">
                    <img src="~/assets/images/lock.svg" alt="" />
                    <input type="password" placeholder="Mật khẩu" asp-for="@Model.Password"
                           class="passwordInput" value="@ViewBag.RememberMePassword" required />
                    <i class="fa-solid fa-eye eyeIcon"
                       onclick="togglePasswordVisibility('password1')"></i>
                    <i class="fa-solid fa-eye-slash eyeSlashIcon"
                       onclick="togglePasswordVisibility('password1')"
                       style="display: none"></i>
                </div>
                <div class="remember__forgot">
                    <label class="remember" asp-for="@Model.RememberMe">
                        <input type="checkbox" asp-for="@Model.RememberMe" />
                        Tự động đăng nhập
                    </label>
                    <a asp-controller="account" asp-action="forgotpassword" class="forgot"> Quên mật khẩu? </a>
                </div>
                <div class="cta-btn">
                    <input type="submit"
                           placeholder="Đăng nhập"
                           class="content__form__system__submit"
                           value="Đăng Nhập" />
                    <br />
                    <a class="content__form__system__register__navigation"
                       asp-controller="account" asp-action="register">
                        Bạn chưa có tài khoản? Đăng ký ngay!
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script src="~/assets/js/togglepassword.js"></script>
</body>
