@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	string currentAction = ViewContext.RouteData.Values["action"]?.ToString();
	string currentStatus = ViewContext.RouteData.Values["status"]?.ToString();
}
<nav class="sidebar" style="width: 15%; background: aliceblue;">
	@* <p class="dashboard__logo"><span>Dental</span>Care</p> *@
	<a href="/dentist">
		<center>
			<img style="width: 80%;" class="mb-5 mt-5" src="~/assets/images/DentalCare.png" alt="Dental Care logo">
		</center>
	</a>
	<ul class="nav">
		<li class="nav-item">
			<a asp-area="dentist" asp-controller="dentistaccount" asp-action="Profile" class="@(currentAction == "Profile" ? "active" : "")">
				<span class="menu-icon"><i class="bx bxs-user"></i></span>Tài khoản
			</a>
		</li>
		<li class="nav-item">
			<a asp-area="dentist" asp-controller="dentistdetail" asp-action="dentistschedule" class="@(currentAction == "DentistSchedule" || currentAction == "Index" ? "active" : "")">
				<span class="menu-icon"><i class="bx bxs-dashboard"></i></span>Lịch làm việc
			</a>
		</li>
		<li class="nav-item">
			<a asp-area="dentist" asp-controller="dentistdetail" asp-action="dentistdescription" class="@(currentAction == "DentistDescription" ? "active" : "")">
				<span class="menu-icon"><i class="bx bxs-user"></i></span>Chỉnh sửa mô tả nha sĩ
			</a>
		</li>
		<li class="nav-item menu-items">
			<a class="nav-link collapsed"
			   data-bs-toggle="collapse"
			   aria-expanded="false"
			   href="#manage-appointment"
			   aria-controls="manage-appointment"
			   class="@(currentAction == "PatientAppointments" ? "active" : "")">
				<span class="menu-icon"><i class="bx bx-list-ul"></i></span>
				<span class="menu-title">Quản lý đơn khám</span>
				<span class="menu-down" style="margin-left: auto">
					<i aria-hidden="true"></i>
				</span>
			</a>
			<div class="collapse" id="manage-appointment"> 
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.5rem" asp-area="dentist" asp-controller="patientappointment" asp-action="patientappointments" class="nav-link appointment0">
							<i class='bx bx-folder-open'></i>  Tất cả đơn khám
						</a>
					</li>

					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.5rem" asp-area="dentist" asp-controller="patientappointment" asp-action="patientappointments" asp-route-status="Chờ Xác Nhận" class="nav-link appointment1">
							<i class='bx bx-copy-alt bx-flashing bx-flip-horizontal'></i> Đơn chờ xác nhận
						</a>
					</li>

					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.5rem" asp-area="dentist" asp-controller="patientappointment" asp-action="patientappointments" asp-route-status="Đã Chấp Nhận" class="nav-link appointment2">
							<i class='bx bx-check'></i> Đơn đã chấp nhận
						</a>
					</li>

					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.5rem" asp-area="dentist" asp-controller="patientappointment" asp-action="patientappointments" asp-route-status="Đã Khám" class="nav-link appointment3">
							<i class='bx bx-select-multiple'></i> Đơn đã khám
						</a>
					</li>

					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.5rem" asp-area="dentist" asp-controller="patientappointment" asp-action="patientappointments" asp-route-status="Đã Hủy" class="nav-link appointment4">
							<i class='bx bx-x bx-spin'></i> Đơn đã hủy
						</a>
					</li>

				</ul>
			</div>
		</li>

		<li class="nav-item">
			<a asp-area="dentist" asp-controller="dentistdetail" asp-action="showperiodicappointment" class="@(currentAction == "ShowPeriodicAppointment" ? "active" : "")">
				<span class="menu-icon"><i class='bx bx-file'></i></span>Quản lý đơn định kỳ
			</a>
		</li>

	</ul>
</nav>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Define the paths that should trigger the submenu to open
		//var activePaths = ['/Schedules/LichLamViec', '/Schedules/Index', '/Schedules/Index'];
		var activePath = '/patientappointments';
		// Get the current path
		var currentPath = window.location.pathname;

		// Check if the current path is one of the defined paths
		if (currentPath.includes(activePath)) {
			var manageAccountMenu = document.getElementById('manage-appointment');
			var collapseElement = new bootstrap.Collapse(manageAccountMenu, {
				toggle: false
			});
			collapseElement.show();
		}
	});
</script>
