@{
    Layout = null;
    var managerName = Context.Session.GetString("name");
    var image = Context.Session.GetString("image");
    var managerID = Context.Session.GetInt32("managerAccountID");
    var clinicID = Context.Session.GetInt32("clinicId");
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

    <link rel="stylesheet"
          href="https://kit.fontawesome.com/53f42380b0.css"
          crossorigin="anonymous">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.1/mdb.min.css"
          rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/dentalClinicLogoOfficial.png" />
    <link rel="stylesheet" href="~/assets/fonts/stylesheet.css" />
    <link rel="stylesheet" href="~/assets/css/mobiscroll.javascript.min.css" />
    <link rel="stylesheet" href="~/assets/css/sidebar.css" />
    <link rel="stylesheet" href="~/assets/css/headerAd.css" />
    <link rel="stylesheet" href="~/assets/css/manager.css" />
    <link rel="stylesheet" href="~/assets/css/contentDash.css" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .modal-content {
            font-family: "Baloo Paaji 2" !important;
            font-size: 2rem;
        }

        .modal-body input {
            font-family: "Baloo Paaji 2" !important;
            font-size: 2rem;
        }

        .modal-body textarea {
            font-family: "Baloo Paaji 2" !important;
            font-size: 2rem;
        }

        .modal-body p {
            font-family: "Baloo Paaji 2" !important;
            font-size: 2rem;
            font-weight: 600;
        }

        .modal-body select {
            font-family: "Baloo Paaji 2" !important;
            font-size: 2rem;
            font-weight: 600;
        }

        .modal-footer button {
        }
    </style>

    @RenderSection("Styles", required: false)
</head>

<body>

    @if (ViewBag.ToastMessageSuccess != null)
    {
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                showSuccessToasts('@ViewBag.ToastMessageSuccess');
            });
        </script>
    }
    else if (ViewBag.ToastFailMessage != null)
    {
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                showErrorToasts('@ViewBag.ToasFailtMessage');
            });
        </script>
    }
    else if (TempData["ToastMessageSuccessTempData"] != null)
    {
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                showSuccessToasts('@TempData["ToastMessageSuccessTempData"]');
            });
        </script>
    }
    else if (TempData["ToastMessageFailTempData"] != null)
    {
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                showErrorToasts('@TempData["ToastMessageFailTempData"]');
            });
        </script>
    }
    else if (TempData["ToastMessageTempData"] != null)
    {
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                showErrorToasts('@TempData["ToastMessageTempData"]');
            });
        </script>
    }

    <div class="dashboard__container d-flex">
        <nav class="sidebar" style="width: 15%; position: fixed; top: 0; height: 100vh; overflow-y: auto;background: aliceblue;">
            <p class="dashboard__logo"><span>Dental</span>Care</p>
            <!-- ===========  MENU =========== -->
            <ul class="nav">
                <li class="nav-item">
                    <a asp-controller="ManagerAccount" asp-action="Profile" class="Quan_ly_tai_khoan">
                        <span class="menu-icon"><i class="bx bxs-user"></i></span>Tài khoản
                    </a>
                </li>
                
                <hr/>
                <!-- ====================== -->
                <li class="nav-item menu-items">
                    <a class="nav-link collapsed Lich_trinh"
                       data-bs-toggle="collapse"
                       href="#manage-account"
                       aria-expanded="false"
                       aria-controls="manage-account">
                        <span class="menu-icon"><i class="fa-solid fa-notes-medical"></i></span>
                        <span class="menu-title">Quản lý tạo lịch</span>
                        <span class="menu-down" style="margin-left: auto">
                            <i aria-hidden="true"></i>
                        </span>
                    </a>
                    <div class="collapse" id="manage-account">
                        <ul class="nav flex-column sub-menu">


                            @* <li class="nav-item">
                            <a style="padding-left: 40px; font-size: 1.4rem" class="nav-link Lich_lam_viec4" asp-controller="Schedules" asp-action="GetTodaySchedule">
                            <i class="fa-solid fa-stethoscope"></i> Hôm nay
                            </a>
                            </li> *@

                            <li class="nav-item">
                                <a style="padding-left: 40px; font-size: 1.4rem" class="nav-link Lich_lam_viec2" asp-controller="Schedules" asp-action="Index">
                                    <span class="menu-icon"><i class="fa-solid bx bxs-dashboard"></i>  </span> Lịch đã tạo
                                </a>
                            </li>

                            @* <li class="nav-item">
                            <a style="padding-left: 40px; font-size: 1.4rem" class="nav-link Lich_lam_viec3" asp-controller="Schedules" asp-action="ViewHistory">
                            <i class="fa-solid fa-stethoscope"></i> Quá khứ
                            </a>
                            </li> *@
                            <li class="nav-item" title="Tạo lịch khám theo tuần">
                                <a style="padding-left: 40px; font-size: 1.4rem" class="nav-link Lich_lam_viec1" asp-controller="Schedules" asp-action="GetWorkingSchedule">
                                    <span class="menu-icon"><i class="fa-solid bx bxs-dashboard"></i>  </span>Lịch làm việc
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ====================== -->
                <li class="nav-item">
                    <a class="Quan_ly_dat_lich" asp-controller="Schedules" asp-action="GetBookedSchedule">
                        <span class="menu-icon"><i class="fa-solid fa-calendar-days"></i> </span> Quản lý đặt lịch
                    </a>
                </li>
                <li class="nav-item">
                    <a class="Xem_lich_su_dat_lich" asp-controller="Schedules" asp-action="ViewHistory">
                        <span class="menu-icon"><i class="bx bx-history"></i> </span> Lịch sử đặt lịch
                    </a>
                </li>
                
                <hr />
                <li class="nav-item">
                    <a asp-controller="Clinics" asp-action="Edit" class="Quan_ly_phong_kham">
                        <span class="menu-icon"><i class="fa-solid fa-house-chimney-medical"></i></span>Thông tin phòng khám
                    </a>
                </li>
                <li class="nav-item">
                    <a class="Quan_ly_danh_gia" asp-controller="Reviews" asp-action="Index">
                        <span class="menu-icon"><i class="fa-solid fa-eye"></i></span>Đánh giá phòng khám
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Dentists" asp-action="Index" class="Quan_ly_nha_si">
                        <span class="menu-icon"><i class="bx bx-list-ul"></i></span>Quản lý nha sĩ
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Service" asp-action="Index" class="Dich_vu_kham">
                        <span class="menu-icon"><i class="bx bx-list-ul"></i></span>Quản lý dịch vụ
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Chat" asp-action="Index" class="Quan_ly_chat">
                        <span class="menu-icon"><i class="bx bx-chat"></i></span>Quản lý chat
                    </a>
                </li>
                
            </ul>

        </nav>

        <div class="container-fluid" style="width: 85%; padding: 0; margin-left: 15%">

            @* Icon account + Dropdown here *@
            <nav class="nav__header d-flex flex-row justify-content-end">
                <div>
                    
                    <div class="d-flex align-items-center nav__header__profile">

                        <img src="@image" alt="" id="imageDisplay" />

                        <p>
                            <span>@managerName</span>
                            <br />
                            Quản lý phòng khám
                        </p>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#myWallet">
                            <i class="bx bx-chart" style="color: red;"></i>
                        </button>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                            <i class="bx bx-key" style="color: red;"></i>
                        </button>
                        <a asp-area="Manager" asp-controller="ManagerAccount" asp-action="Logout" title="Logout">
                            <i class="bx bx-log-out" style="color: red; transform: rotate(180deg)"></i>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="manager__management">
                @RenderBody()
            </div>

            <!-- Chart modal -->
            <div class="modal fade" id="myWallet" tabindex="-1" aria-labelledby="myWalletModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" style="max-width: 50% !important; margin-bottom:10px">
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header" style="flex-direction: column-reverse;">
                            <h1 class="modal-title" id="myWalletModalLabel">Thống kê dữ liệu</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- Body -->
                        <div class="modal-body">
                            <div class="mb-3 mt-3">
                                <p class="form-label">Số dư hiện tại: <strong id="currentBalance">Đang tải...</strong></p>
                            </div>
                            <div class="mb-3 mt-3">
                                <p class="form-label"><strong>Số lần đặt khám</strong></p>
                            </div>
                            <!-- Chart Summary -->
                            <div style="display: flex; margin-bottom: 20px;">
                                <div id="today" style="display: flex; background-color: aquamarine; border-radius: 10px; padding: 10px; width: 30%; cursor: pointer;">
                                    <div class="col-md-12" style="margin-bottom: 5px;">

                                        <div class="row">
                                            <p><i class="fa-solid fa-calendar-day"></i> Hôm nay</p>
                                        </div>

                                        <div class="row mt-3">
                                            <p style="font-size: 3rem;" id="today-successful"></p>
                                        </div>

                                        <div class="row">
                                            <p style="color: red;" id="today-successful-change"></p>
                                        </div>

                                    </div>
                                </div>
                                <div id="thisWeek" style="display: flex; background-color: aquamarine; border-radius: 10px; padding: 10px; width: 30%; margin-left: 2rem; cursor: pointer;">
                                    <div class="col-md-12" style="margin-bottom: 5px;">

                                        <div class="row">
                                            <p><i class="fa-solid fa-calendar-day"></i> Tuần nay</p>
                                        </div>

                                        <div class="row mt-3">
                                            <p style="font-size: 3rem;" id="thisWeek-canceled"></p>
                                        </div>

                                        <div class="row">
                                            <p style="color: red;" id="thisWeek-canceled-change"></p>
                                        </div>

                                    </div>
                                </div>
                                <div id="thisMonth" style="display: flex; background-color: aquamarine; border-radius: 10px; padding: 10px; width: 30%; margin-left: 2rem; cursor: pointer;">
                                    <div class="col-md-12" style="margin-bottom: 5px;">

                                        <div class="row">
                                            <p><i class="fa-solid fa-calendar-day"></i> Tháng nay</p>
                                        </div>

                                        <div class="row mt-3">
                                            <p style="font-size: 3rem;" id="thisMonth-successful"></p>
                                        </div>

                                        <div class="row">
                                            <p style="color: red;" id="thisMonth-successful-change"></p>
                                        </div>

                                    </div>
                                </div>
                                <div id="yearToDate" style="display: flex; background-color: aquamarine; border-radius: 10px; padding: 10px; width: 30%; margin-left: 2rem; cursor: pointer;">
                                    <div class="col-md-12" style="margin-bottom: 5px;">
                                        <div class="row">
                                            <p><i class="fa-solid fa-calendar-day"></i> Tổng hợp</p>
                                        </div>
                                        <div class="row mt-3">
                                            <p style="font-size: 3rem;" id="yearToDate-successful"></p>
                                        </div>
                                        <div class="row">
                                            <p style="color: red;" id="yearToDate-successful-change"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="d-flex">
                                <div class="me-3" style="width:150px;">
                                    <select id="chartType" class="form-control" style="height:100%;">
                                        <option value="line" selected>Line</option>
                                        <option value="bar">Bar</option>
                                        <option value="pie">Pie</option>
                                        <option value="doughnut">Doughnut</option>
                                    </select>
                                </div>
                            </div>

                            <div class="" id="chartView">
                                <canvas id="myChart"></canvas>
                            </div>




                            <!-- Body -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Change Password Modal -->
            <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" style="max-width: 50% !important">
                    <div class="modal-content">
                        <div class="modal-header" style="flex-direction: column-reverse;">
                            <h2 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="changePasswordForm">
                                <div class="mb-3">
                                    <p class="form-label">Mật khẩu hiện tại</p>
                                    <input type="password" class="form-control" id="Password" name="oldPassword" required />
                                </div>
                                <div class="mb-3">
                                    <p class="form-label">Mật khẩu mới</p>
                                    <input type="password" class="form-control" id="NewPassword" name="newPassword" required />
                                </div>
                                <div class="mb-3">
                                    <p class="form-label">Xác nhận mật khẩu mới</p>
                                    <input type="password" class="form-control" id="ConfirmPassword" name="confirmPassword" required />
                                </div>
                                <button type="submit" class="btn btn-primary w-100 mt-3" style="font-size: 2rem;">Đổi mật khẩu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/53f42380b0.js"
            crossorigin="anonymous"></script>
    <script src="~/assets/js/pagination.js"></script>

    <div id="toasts"></div>
    <script src="~/assets/js/toastmessage.js"></script>
    <!--Tự động dropdown khi vô lịch trình-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Define the paths that should trigger the submenu to open
            //var activePaths = ['/Schedules/LichLamViec', '/Schedules/Index', '/Schedules/Index'];
            var activePath = '/Schedules';
            // Get the current path
            var currentPath = window.location.pathname;

            // Check if the current path is one of the defined paths
            if (currentPath.includes(activePath)) {
                var manageAccountMenu = document.getElementById('manage-account');
                var collapseElement = new bootstrap.Collapse(manageAccountMenu, {
                    toggle: false
                });
                collapseElement.show();
            }
        });
    </script>

    <!-- Change Password -->
    <script>
        $(document).ready(function () {
            $('#changePasswordForm').on('submit', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ChangePassword", "ManagerAccount")',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            // alert(response.message);
                            $('#changePasswordModal').modal('hide');
                            location.reload();  // Reload the page
                        } else {
                            location.reload();  // Reload the page
                        }
                    }
                });
            });
        });
    </script>

    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.1/mdb.umd.min.js"></script>

    <!-- Chart JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#today").click(function () {
                var chartType = $("#chartType").val();
                var hanoiTime = getHanoiTime();
                var startDate = hanoiTime.format('YYYY-MM-DD');
                var endDate = hanoiTime.format('YYYY-MM-DD');
                console.log(startDate + " " + endDate);
                updateChart(chartType, startDate, endDate);
            });

            $("#thisWeek").click(function () {
                var chartType = $("#chartType").val();
                var today = getHanoiTime();

                var startDate = today.clone().startOf('week');
                var endDate = today.clone().endOf('week');
                console.log(startDate.format('YYYY-MM-DD') + " " + endDate.format('YYYY-MM-DD'));
                updateChart(chartType, startDate.format('YYYY-MM-DD'), endDate.format('YYYY-MM-DD'));
            });

            $("#thisMonth").click(function () {
                var chartType = $("#chartType").val();
                var startDate = getHanoiTime().startOf('month');
                var endDate = getHanoiTime().endOf('month');
                console.log(startDate.format('YYYY-MM-DD') + " " + endDate.format('YYYY-MM-DD'));
                updateChart(chartType, startDate.format('YYYY-MM-DD'), endDate.format('YYYY-MM-DD'));
            });

            $("#yearToDate").click(function () {
                var chartType = $("#chartType").val();
                var startDate = getHanoiTime().startOf('year');
                var endDate = getHanoiTime().endOf('year');
                console.log(startDate.format('YYYY-MM-DD') + " " + endDate.format('YYYY-MM-DD'));
                updateChart(chartType, startDate.format('YYYY-MM-DD'), endDate.format('YYYY-MM-DD'), true); // Pass true for isYTD
            });


            function getHanoiTime() {
                return moment.tz("Asia/Ho_Chi_Minh");
            }

            function updateChart(chartType, startDate, endDate, isYTD = false) {
                console.log(startDate + " " + endDate);
                var chartView = document.getElementById('chartView');
                chartView.innerHTML = '&nbsp;';
                $('#chartView').append('<canvas id="myChart" style="width: 800px;"></canvas>');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAppointmentStats", "Ranking")', // Update with your actual controller route
                    data: {
                        clinicID: @clinicID,
                        startDate: startDate,
                        endDate: endDate
                    },
                    success: OnSuccessResult,
                    error: OnError
                });

                function OnSuccessResult(data) {
                    console.log("Data received:", data); // Debugging statement
                    if (isYTD) {
                        var _chartLabels = ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"];
                        var successfulData = data.successfulPerMonth;
                        var canceledData = data.canceledPerMonth;
                        var successfulColor = "blue";
                        var canceledColor = "red";

                        new Chart("myChart", {
                            type: chartType,
                            data: {
                                labels: _chartLabels,
                                datasets: [
                                    {
                                        label: "Đã Khám",
                                        borderColor: successfulColor,
                                        data: successfulData,
                                        fill: false
                                    },
                                    {
                                        label: "Đã Hủy Khám",
                                        borderColor: canceledColor,
                                        data: canceledData,
                                        fill: false
                                    }
                                ]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    x: {
                                        beginAtZero: true
                                    },
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    } else {
                        var _chartLabels = ["Đã Khám", "Đã Hủy Khám"];
                        var _chartData = [data.successful, data.canceled];
                        var dataColor = ["green", "red"];

                        new Chart("myChart", {
                            type: chartType,
                            data: {
                                labels: _chartLabels,
                                datasets: [{
                                    backgroundColor: dataColor,
                                    data: _chartData
                                }]
                            },
                            options: {
                                plugins: {
                                    legend: {
                                        display: false // Disable the legend
                                    }
                                }
                            }
                        });
                    }

                    // Update the numbers and percentage changes in the modal
                    // $("#today-successful").text(data.successful);
                    // $("#today-successful-change").text(data.successfulChange.toFixed(1) + "%").css("color", data.successfulChange >= 0 ? "green" : "red");

                    // $("#thisWeek-canceled").text(data.canceled);
                    // $("#thisWeek-canceled-change").text(data.canceledChange.toFixed(1) + "%").css("color", data.canceledChange >= 0 ? "green" : "red");

                    // // Similar updates for "thisMonth" if needed
                    // $("#thisMonth-successful").text(data.successful);
                    // $("#thisMonth-successful-change").text(data.successfulChange.toFixed(1) + "%").css("color", data.successfulChange >= 0 ? "green" : "red");
                }

                function OnError(error) {
                    console.error(error);
                }
            }

            // Current Manager's Balance
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCurrentBalance", "Wallet")',
                data: { accountID: @managerID },
                success: function (response) {
                    if (response.success) {
                        $('#currentBalance').text(response.balance.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
                    } else {
                        $('#currentBalance').text('Not find balance');
                    }
                },
                error: function (error) {
                    $('#currentBalance').text('Error fetching balance');
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
