@model Dental_Clinic_System.Areas.Admin.ViewModels.ManagerSpecialtyVM

@{
    ViewData["Title"] = "EditSpecialty";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="modal fade show" style="display:block;" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered form-modal-styles">
        <form id="clinicForm" action="~/Admin/ManagerSpecialty/EditSpecialty" method="post" class="modal-content" enctype="multipart/form-data">
            <div class="modal-header">
                <h1 class="modal-title fs-10">Chỉnh sửa thông tin chuyên khoa</h1>
                <a href="~/Admin/ManagerSpecialty/ListSpecialty" class="btn-close" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="special-name">
                    <label for="nameSpecialty">Tên chuyên khoa</label>
                    <input type="text" name="Name" id="nameSpecialty" value="@Model.Name" required />
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="special-deposis">
                    <label for="deposisSpecialty">Tiền cọc</label>
                    <input type="number" name="Deposit" id="deposisSpecialty" value="@Model.Deposit" step="0.01" required />
                    <span asp-validation-for="Deposit" class="text-danger"></span>
                </div>
                <div class="special-image">
                    <label>Hình ảnh</label>
                    <input type="file" name="Image" id="fileInput" class="form-control" value="@Model.Image" required />
                    <input type="hidden" name="Image" id="imageUrl"/>
                </div>
                <div class="special-desc">
                    <label for="descSpecialty">Mô tả</label>
                    <textarea name="Description" id="descSpecialty">@Model.Description</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a href="~/Admin/ManagerSpecialty/ListSpecialty" class="close-btn btn">Close</a>
                <button type="submit" class="submit-btn btn">Save changes</button>
            </div>
        </form>
    </div>
</div>

@* Đưa ảnh lên firebase *@
<script src="~/assets/js/firebase_script2.js" type="module"></script>