@model IEnumerable<Dental_Clinic_System.Areas.Admin.ViewModels.ManagerSpecialtyVM>

@{
	ViewData["Title"] = "ListSpecialty";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@if (!ViewData.ModelState.IsValid)
{
	<div class="alert alert-danger" role="alert">
		@Html.ValidationMessage("Name")
		@Html.ValidationMessage("Deposit")
	</div>
}

<!--TÌM KIẾM (SEARCH)-->
<div class="account__management__header">
	<h1 class="title mb-0">Quản lý chuyên khoa</h1>
	<div class="action-btn">
		<form action="~/Admin/ManagerSpecialty/SeachSpecialty" method="post">
			<div class="search__bar">
				<input type="search" placeholder="Tìm kiếm ..." name="search" />
			</div>
		</form>
		<button type="button"
				data-bs-toggle="modal"
				data-bs-target="#myModalAdd"
				class="add__new">
			+ New
		</button>
	</div>


	<!--THÊM MỚI CHUYÊN KHOA (ADD)-->
	<!-- =========== MODAL FOR ADD =========== -->
	<div class="modal fade"
		 id="myModalAdd"
		 tabindex="-1"
		 aria-labelledby="mainTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered form-modal-styles">
			<form id="clinicForm" action="~/Admin/ManagerSpecialty/AddSpecialty" method="POST" class="modal-content" onsubmit="return validateForm()">
				<div class="modal-header">
					<h1 class="modal-title fs-10" id="mainTitle">
						Thêm mới chuyên khoa
					</h1>
					<button type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="special-name">
						<label for="name">Tên chuyên khoa</label>
						<input type="text" name="name" id="name" required />
					</div>
					<div class="special-deposis">
						<label for="deposis">Tiền cọc</label>
						<input type="number" id="deposis" name="deposit" step="0.01" required />
					</div>
					<div class="special-image">
						<label>Hình ảnh</label>
						<input type="file" id="fileInput" class="form-control" required />
						<input type="hidden" name="imageUrl" id="imageUrl" />
						
					</div>
					<div class="special-desc">
						<label for="description">Mô tả</label>
						<textarea name="description" id="description"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button"
							class="close-btn btn"
							data-bs-dismiss="modal">
						Close
					</button>
					<button type="submit" class="submit-btn btn">
						Save changes
					</button>
				</div>
			</form>
		</div>
	</div>

</div>


<!--SHOW LIST-->
<!-- =========== TABLE =========== -->
<table class="table table-striped mt-5" style="font-size: 1.7rem">
	<thead style="text-align: center;">
		<tr>
			<th class="text-center">STT</th>
			<th style="width: 15%;">Chuyên Khoa</th>
			<th style="width: 10%;">Hình ảnh</th>
			<th style="width: 50%;">Mô tả</th>
			<th style="width: 10%;">Tiền cọc</th>
			<th>Hành động</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Any())
		{
			int stt = 1;

			@foreach (var account in Model)
			{
				<tr style="vertical-align: middle">
					<td style="text-align: center;">@stt</td>
					<td>@account.Name</td>
					<td style="text-align: center;"><img src="@account.Image" alt="" style="max-width: 300px; max-height: 300px;" /></td>
					<td>@account.Description</td>
					<td style="text-align: center;">@account.Deposit</td>
					<td style="text-align: center;">
						<!--EDIT-->
						<a href="@Url.Action("EditSpecialty", new { id = account.Id })" class="btn btn-primary">
							<i class="bx bxs-edit"></i>
						</a>
						<!--DELETE-->
						<button type="button" onclick="location.href='@Url.Action("DeleteSpecialty", new {id = account.Id})'">
							<i class="bx bxs-trash"></i>
						</button>
					</td>
				</tr>
				stt++;
			}
		}
	</tbody>
</table>

@* Đưa ảnh lên firebase *@
<script src="~/assets/js/firebase_script2.js" type="module"></script>