@model Dental_Clinic_System.Models.Data.Service

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutManager";
}
@section Styles {
    <style>
        .sidebar .nav-item a.Dich_vu_kham {
            color: #fff;
            background: #4880ff;
        }
    </style>
}


<!--header -->
<div class="manager__management__header">
    <div class="title">Chắc chắn xóa dịch vụ khám này?</div>
</div>
<!--body -->
<div>
    <hr /> @* Đường phân cách *@
    <dl class="row" style="font-size: 2rem">
        <dt class = "col-sm-2">Dịch vụ</dt>
        <dd class = "col-sm-10"> @Model.Name</dd>

        <dt class = "col-sm-2">Đơn giá</dt>
        <dd class = "col-sm-10">
            @Model.Price
        </dd>

        <dt class = "col-sm-2">
            Phòng khám
        </dt>
        <dd class = "col-sm-10">
            @Model.Clinic?.Name
        </dd>

        <dt class = "col-sm-2">
            Chuyên khoa
        </dt>
        <dd class = "col-sm-10">
            @Model.Specialty?.Name
        </dd>

        <dt class="col-sm-2">
            Mô tả
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
