@model Dental_Clinic_System.Models.Data.Service

@{
	ViewData["Title"] = "Dịch vụ";
	Layout = "_LayoutManager";
}
@section Styles {
	<style>
		.sidebar .nav-item a.Dich_vu_kham {
			color: #fff;
			background: #4880ff;
		}

		.chinhle {
			width: 1000px;
		}

		.button {
			padding: 6px 20px;
		}

		.manager__management__header .action-btn .add__new1 {
			background: #dc3545;
			border: none;
			outline: none;
			color: white;
			font-weight: 600;
			padding: 6px 20px;
			border-radius: 6px;
			cursor: pointer;
		}

			.manager__management__header .action-btn .add__new1:hover {
				background: #bb2d3b;
			}

		.modal-content {
			--mdb-modal-box-shadow: 0 6px 45px -9px rgba(var(--mdb-box-shadow-color-rgb), 0.21), 0 30px 60px -6px rgba(var(--mdb-box-shadow-color-rgb), 0.12);
			border: 0;
			box-shadow: var(--mdb-modal-box-shadow);
			padding: 24px 48px !important; /* Reduced padding for top/bottom and left/right */
			border-radius: 10px; /* Adjust this value to change the roundness of the corners */
		}
	</style>
}

<div class="modal-content">
	<!--header -->
	<div class="manager__management__header">
		<div class="title">Chi tiết dịch vụ</div>
	</div>
	<!--body -->
	<hr /> @* Đường phân cách *@
	<div style="min-height: 420px;">
		<dl class="row" style="padding-left: 100px; font-size: 2rem;">
			<dt class="col-sm-2">Dịch vụ</dt>
			<dd class="col-sm-10"> @Model.Name</dd>

			<dt class="col-sm-2">Đơn giá</dt>
			<dd class="col-sm-10">
				@Model.Price
			</dd>

			<dt class="col-sm-2">
				Phòng khám
			</dt>
			<dd class="col-sm-10">
				@Model.Clinic?.Name
			</dd>

			<dt class="col-sm-2">
				Chuyên khoa
			</dt>
			<dd class="col-sm-10">
				@Model.Specialty?.Name
			</dd>

			<dt class="col-sm-2">
				Mô tả
			</dt>
			<dd class="col-sm-10">
				@Model.Description
			</dd>
		</dl>
	</div>

	<hr /> @* Đường phân cách *@
	<div class="manager__management__header">
		<h1></h1>
		<div class="action-btn">

			<a asp-action="Index">Back to List</a>
			|
			<a asp-action="Edit" asp-route-id="@Model.ID">
				<button class="add__new">
					Chỉnh sửa
				</button>
			</a>
			<a asp-action="Delete" asp-route-id="@Model.ID">
				<button class="add__new1">
					Xóa
				</button>
			</a>
		</div>
	</div>
</div>
<br />
