@model IEnumerable<Dental_Clinic_System.Models.Data.Service>
@{
	ViewData["Title"] = "Dịch vụ khám";
	Layout = "_LayoutManager";
}
@section Styles {
	<style>
		.form-container {
			display: flex;
			gap: 5px; /* Khoảng cách giữa các form */
		}

		.sidebar .nav-item a.Dich_vu_kham {
			color: #fff;
			background: #4880ff;
		}

		a.button-link {
			display: inline-block;
			padding: 5px 10px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			text-decoration: none;
			color: inherit;
			border-radius: 6px;
}
		.manager__management table a.button-link i {
			vertical-align: middle;
		}

		.manager__management table a.button-link:first-child,
		.manager__management .submit-btn {
			background: #4880ff;
			color: white;
		}

		.manager__management table a.button-link:first-child:hover,
		.manager__management .submit-btn:hover {
			background: #3b6cd9;
		}

		.manager__management table a.button-link:last-child,
		.manager__management .close-btn {
			margin-left: 5px;
			background: rgb(255, 66, 66);
			color: white;
		}

		.manager__management table a.button-link:last-child:hover,
		.manager__management .close-btn:hover {
			background: #f81f1f;
		}
	</style>
}

<!-- account management header -->
<div class="manager__management__header">
	<div class="title">Dịch vụ làm răng</div>
	<div class="action-btn">
		<form asp-action="Search" asp-controller="Service">
			<div class="search__bar">
				<input type="search" placeholder="Tìm kiếm ..." name="keyword" />
			</div>
		</form>

		<a asp-controller="Service" asp-action="Create" class="add__new">+ New</a>
	</div>
</div>

<!-- Modal For Add new DichVu -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="mainTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered form-modal-styles">
		<form action="" method="POST" class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-10" id="mainTitle">
					Thêm mới dịch vụ
				</h1>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="user-name modal-body-card">
					<label for="dentName">Dịch vụ</label><input type="text" name="dentName" id="dentName" />
				</div>
				<div class="user-tel modal-body-card">
					<label for="dentGender">Đơn giá</label>
					<select name="dentGender" id="dentGender">
						<option value="" disabled selected>
							-- Vui lòng chọn giới tính --
						</option>
						<option value="male">Nam</option>
						<option value="female">Nữ</option>
					</select>
				</div>
				<div class="user-mail modal-body-card">
					<label for="dentMail">Email</label><input type="email" name="dentMail" id="dentMail" />
				</div>
				<div class="user-birth modal-body-card">
					<label for="dentBirth">Ngày sinh</label><input type="date" name="dentBirth" id="dentBirth" />
				</div>
				<div class="user-pic modal-body-card">
					<label for="dentPic">Ảnh đại diện</label><input type="file" name="dentPic" id="dentPic" />
				</div>
				<div class="user-address modal-body-card">
					<label for="addrSpecialty">Địa chỉ</label><input type="text"
														   name="addrSpecialty"
														   id="addrSpecialty" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"
						class="close-btn btn"
						data-bs-dismiss="modal">
					Close
				</button>
				<button type="submit" class="submit-btn btn">
					Save changes
				</button>
			</div>
		</form>
	</div>
</div>
<!-- Table -->
<table class="table table-striped mt-5" style="font-size: 1.6rem">
	<thead>
		<tr>
			<th class="text-center">STT</th>
			<th>Tên dịch vụ</th>
			<th>Chuyên khoa</th>
			<th>Giá</th>
			<th>Hành động</th>
		</tr>
	</thead>
	<tbody id="myTableBody">
		@{
			int index = 0;
		}
		@foreach (var item in Model)
		{
			<tr style="vertical-align: middle">
				<td class="text-center">
					@(++index)
				</td>
				<td>@item.Name</td>
				<td>@item.Specialty?.Name</td>
				<td>@item.Price</td>
				<td>
						<a asp-action="Edit" asp-route-id="@item.ID" class="button-link">
							<i class="bx bxs-edit"></i></a>
						<a asp-action="Delete" asp-route-id="@item.ID" class="button-link">
						<i class="bx bxs-trash"></i></a>
				</td>
			</tr>

		}
	</tbody>
</table>

<!-- ========== PAGINATION  ========== -->
<ul id="pagination" class="pagination">
</ul>
